<template>
  <el-dialog :title="'修改密码'" :visible="visible" append-to-body width="900px" :close-on-click-modal="false" :destroy-on-close="true"
    @close="close">
    <div v-loading="loading">
      <el-form :model="form" :rules="rules" ref="form" label-width="100px" class="demo-form">
        <el-form-item label="当前密码" prop="currentPassword">
          <el-input v-model="form.currentPassword"></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="newPassword">
          <el-input v-model="form.newPassword"></el-input>
        </el-form-item>
      </el-form>
    </div>
    <div slot="footer" class="textRight">
        <el-button @click="close()">取消</el-button>
        <el-button type="primary" @click="submitForm('form')" :loading="loading" v-if="type!=2">确定</el-button>
      </div>
  </el-dialog>

</template>

<script>
  import moment from "moment";
  import service from '@/utils/request';
  import publicDialog from '@/extends/publicDialog'
  import {
    getProto,
    setFromResult
  } from "@/utils/index"
  export default {
    name: "updatePassWord",
    components: {},
    mixins: [publicDialog],
    data() {
      return {
        form: {
          currentPassword: '',
          newPassword: '',
        },
        rules: {
          currentPassword: [
             {
            required: true,
            message: '这是必填项',
            trigger: 'blur'
          },
         //  { min: 8, message: '长度在8字符以上', trigger: 'blur' }
           ],
          newPassword: [
             {
            required: true,
            message: '这是必填项',
            trigger: 'blur'
          },
           { min: 8, message: '长度在8字符以上', trigger: 'blur' }
          ],
          
        }
      }
    },
    created() {
    },
    methods: {
      submitForm(name) {
        this.$refs[name].validate((valid) => {
          if (valid) {
            this.loading = true
            const data = this.$refs[name].model
            service.post('/api/services/app/User/ChangePassword', data).then(data => {
              this.loading = false
              this.$messagSuccess('操作成功')
              this.$emit("close", true);
            })
          } else {
            this.$messagError('异常操作')
            return false;
          }
        });
      },
    }
  };

</script>

<style lang="scss" scoped>
</style>
