<template>
  <div>
    <el-dropdown trigger="click" @command="handleCommand">
      <span class="el-dropdown-link">
        {{userInfo.username}}
        <i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item icon="el-icon-check" command="0">修改密码</el-dropdown-item>
        <el-dropdown-item icon="el-icon-circle-check" command="1">退出用户</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    <update-pass-word
      v-if="updatePssWordDialog.visible"
      @close="close"
      :visible.sync="updatePssWordDialog.visible"
    ></update-pass-word>
  </div>
</template>

<script>
import moment from 'moment'
import service from '@/utils/request'
import { mapGetters } from 'vuex'
import UpdatePassWord from '@/components/UpdatePassWord'
export default {
  name: 'userOperation',
  components: {
    UpdatePassWord
  },
  mixins: [],
  data() {
    return {
      // 修改密码的弹窗
      updatePssWordDialog: {
        visible: false,
        id: ''
      }
    }
  },
  computed: {
    ...mapGetters(['userInfo'])
  },
  created() {
    console.log(this.userInfo)
  },
  methods: {
    //0 修改密码   1退出用户
    handleCommand(value) {
      switch (value) {
        case '0':
          this.updatePssWordDialog.visible = true
          break

        case '1':
          this.logout()
          break

        default:
          break
      }
    },

    async logout() {
      await this.$store.dispatch('user/logout')
      window.location.href = process.env.VUE_APP_LOGIN_URL
    },

    close() {
      this.updatePssWordDialog.visible = false
    }
  }
}
</script>

<style lang="scss" scoped>
.el-dropdown {
  color: inherit;
}
.el-dropdown-link {
  cursor: pointer;
  border: 0;
}
</style>
