<template>
  <el-dialog :title="title" :visible="visible" width="1000px" custom-class="myDialog" :close-on-click-modal="false"
    :destroy-on-close="true" @close="close">
    <el-row :gutter="10">
      <el-col :span="16">
        <public-pages :checkboxDeleteValue.sync="checkboxDeleteValue" :checkboxAttribute.sync="left.checkboxAttribute" ref="leftPublicLbTable"
          :inputPlaceholder.sync="left.inputPlaceholder" :myPages.sync="left.myPages" @selectComplete="selectComplete"
          :hasHeaderForm.sync="left.hasHeaderForm" :showHighlightCurrentRow.sync="left.showHighlightCurrentRow"
          :listServe="left.listServe" :column.sync="left.column">
        </public-pages>
      </el-col>
      <el-col :span="8" v-if="left.checkboxAttribute.value && left.checkboxAttribute.value.length > 0">
        <el-card>
          <el-form :inline="true" class="demo-form">
        <el-form-item>
          <el-button :disabled="right.list.length == 0" @click="deleteFn">删除</el-button>
        </el-form-item>
      </el-form>

        <lb-table @selection-change="handleSelectionChange" :column="right.column" class="myLbTable"
           :data="left.checkboxAttribute.value"
           layout="total, prev, pager, next" 
           pagination
           :total="left.checkboxAttribute.value.length"
           >
        </lb-table>
        </el-card>
        <el-card class="box-card" v-if="left.checkboxAttribute.value && left.checkboxAttribute.value.length == 0">
          <h3>暂无已选字段...</h3>
        </el-card>
      </el-col>
    </el-row>
     <div slot="footer" class="textRight">
        <el-button @click="close()">取消</el-button>
        <el-button type="primary" @click="close(left.checkboxAttribute.value)"  >确定</el-button>
      </div>

  </el-dialog>
</template>

<script>
  /**  通用选择人  */
  import moment from "moment";
  import service from "@/utils/request";
  import pages from "@/extends/pages";
  import publicDialog from '@/extends/publicDialog'
  import LbTable from "@/components/LbTable/lb-table";
  import {
    getProto,
    setFromResult,
    checkArray,
    checkArrayString
  } from "@/utils/index"
  export default {
    name: "publicSelect",
    components: {
      LbTable
    },
    mixins: [pages, publicDialog],
    props: {
      checkboxDeleteValue:{
        type: Boolean,
        default: false,
      },
      left: {
        type: Object,
        default: function () {
          return {
            //checkbox 的判断
            checkboxAttribute: {
              //判断的属性 唯一值来判断
              type: "id",

              //默认值   外部传默认值进来
              value: [],
            },
            myPages:{},
            hasHeaderForm: false,
            inputPlaceholder:'请输入关键字',
            column:[],
            listServe: '',
            showHighlightCurrentRow: 'checkbox',
          };
        }
      },

      right:{

        //第三方变量。用来记录checkbox 的值
        list:[],
        column:[],
      }
    },
    created() {
    },
    methods: {
      submitForm(name) {
        this.$refs[name].validate(valid => {
          if (valid) {
            const data = {
              rosterEditInput: this.$refs[name].model,
              rosterAttrLs: this.list
            };
            service.post(this.createdRoster, data).then(data => {
              const value = this.type == 0 ? "添加成功" : "修改成功";
              this.$messagSuccess(value);
              this.$emit("close", true);
            });
          } else {
            this.$messagError("异常操作");
            return false;
          }
        });
      },

      //左侧选中的回调
      selectComplete(value) {
        this.$emit("selectComplete", value);
      },

      //删除
      deleteFn(value, i) {
        const data = this.$refs.leftPublicLbTable.data;       
        this.right.list.forEach((element) => {
          //判断选中的列表在右边列表的位置
          const index = checkArrayString(data, this.left.checkboxAttribute.type, element[this.left.checkboxAttribute.type])
          const newIndex = checkArrayString(this.left.checkboxAttribute.value, this.left.checkboxAttribute.type, element[this.left.checkboxAttribute.type])
          this.left.checkboxAttribute.value.splice(newIndex,1);
          if (index != -1) {
            this.$refs.leftPublicLbTable.$refs.publicLbTable.$refs.elTable.toggleRowSelection(data[index]);
          }
        });
      },

      //数组上移
      up(value, index) {
        this.right.list.forEach((element) => {
          //判断选中的列表在右边列表的位置
          const index = checkArrayString(this.list, 'columName_ES', element.columName_ES)
          if (index != -1 && index != 0) {
            this.list.splice(index - 1, 0, (this.list[index]))
            this.list.splice(index + 1, 1)
          }
        });

      },

      //数组下移
      down(value, index) {

        //迭代选中的列表
        this.right.list.forEach((element) => {

          //判断选中的列表在右边列表的位置
          const index = checkArrayString(this.list, 'columName_ES', element.columName_ES)
          if (index != -1 && index != (this.list.length - 1)) {
            this.list.splice(index + 2, 0, (this.list[index]))
            // 删除前一项
            this.list.splice(index, 1)
          }
        });
      },

      //checkbox 
      handleSelectionChange(value) {
        this.right.list = value;
      }

    }
  };

</script>
<style lang="scss" scoped>
  .abc {
    .el-transfer-panel {
      width: 250px;
    }
  }

</style>
