@media print{
   #customerForm .el-radio__input.is-checked  .el-radio__inner::after {left: 2px;top: -1.5px;content: '●';color:#C0C4CC;transform: scale(1);background: none;}
   #customerForm .upload-continer .el-upload{display: none;}
   #customerForm .upload-continer .el-upload__tip{display: none;}
   #customerForm .upload-continer .el-upload-list__item:first-child{margin-top:5px}
}