<template>
  <div class="HamburgerDiv" @click="goHome">
    <!-- <span class="iconfont icontuichu1 font26"></span> -->
    <div class="divContent">
      <img src="images/icon_gongneng.png" width="40" class="block"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GoHome',
  methods: {
    goHome() {
      this.$router.push('/home')
    }
  }
}
</script>

<style scoped>
.HamburgerDiv{
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  color: white;
  display: table;
  
}
.HamburgerDiv .divContent{
  display: table-cell;
  vertical-align: middle;
}

.hamburger {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.hamburger.is-active {
  transform: rotate(180deg);
}
</style>
