<template>
  <el-dialog :title="title" :visible="visible" width="1000px" custom-class="myDialog" :close-on-click-modal="false"
    :destroy-on-close="true" @close="close">
    <el-main v-loading="loading">
       <el-radio-group v-model="radio">
      <el-timeline v-if="data">
        <el-timeline-item :color="color" v-for="(item, index) in data" :key="index">
          <span>{{item.nodeName}}</span>
          <el-radio :label="item.nodeId"  @change="changeRadio(item)" class="noLabel"></el-radio>
        </el-timeline-item>
        
      </el-timeline>
      </el-radio-group>
    </el-main>
    <div slot="footer" class="textRight">
      <el-button @click="close()">取消</el-button>
      <el-button type="primary" :disabled="!radioItem" @click="close(radioItem)">确定</el-button>
    </div>
  </el-dialog>
</template>

<script>
  //驳回流程的弹窗
  import service from '@/utils/request'
  import publicDialog from '@/extends/publicDialog'
  export default {
    name: 'rejectionProcess',
    mixins: [publicDialog],
    data() {
      return {
        loading: false,
        data: null,
        color: '#1890ff',

        radio: null,

        radioItem: null
      }
    },
    created() {
      this.init();
    },
    methods: {
      init() {
        this.loading = true;
        service.get(process.env.VUE_APP_FLOW_SERVE_URL +
          '/api/services/app/WorkFlowInstanceManager/GetAuditedNodeRecords?Id=' + this.id).then(
          data => {
            this.loading = false;
            this.data = data;
          })
      },

      //radio 
      changeRadio(item) {
        this.radioItem = item;
      }
    },
  }

</script>
<style scoped>
</style>
