@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.textRight {
  text-align: right;
}

//  不允许点击

.heightDialog .el-dialog__body {
  max-height: 70vh;
  overflow: auto;
}

.cursor-pointe {
  cursor: pointer;

  .el-input__prefix {
    left: 10px
  }
}

.noLabel .el-radio__label {
  display: none;
}

.popconfirmRight {
  text-align: right;
  margin: 0;
}


.node {
  display: none !important;
}

.block {
  display: block !important;
}

.initial {
  display: initial !important
}

//右下角提示框的class 
.notifyClass .el-notification__content {
  font-size: 16px;
  margin: 3px 0 0 0;
}

.content-bar {
  line-height: 50px;
  background: #ececec;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.content-box {
  height: 100%;
  background: #ffffff;
  margin: 7.5px 0;
  padding: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.content-title {
  display: inline-block;
  padding: 0 20px;
  color: rgb(48, 65, 86);
  font-weight: bold;
  border-left: 14px solid rgb(48, 65, 86);
  letter-spacing: 0.06em;
  font-size: 15px;
}

.hreadPopperClass .el-badge__content.is-fixed {
  top: 20px;
  border-color: #ff4949;
}


/** 通用style  **/
.flexCloumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.flexCloumnAbsolute {
  @extend .flexCloumn;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.flexCloumn170 {
  @extend .flexCloumn;
  height: calc(100vh - 170px);
}

.flexCloumn225 {
  @extend .flexCloumn;
  height: calc(100vh - 225px);
}

.flexMain {
  -webkit-box-flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.flexBox {
  display: -webkit-box;
}

.flex1 {
  -webkit-box-flex: 1;
  display: block;
  width: 100%
}

.flexContent {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
}

.flexLeftContent {
  -webkit-box-pack: initial;
  -webkit-box-align: center;
  display: -webkit-box;
}

.flexRightContent {
  -webkit-box-pack: initial;
  -webkit-box-align: center;
  display: -webkit-box;
}

@for $i from 12 through 40 {
  .font#{$i} {
    font-size: 1px*$i
  }
}

@for $i from 1 through 10 {
  .width#{$i} {
    width: 10%*$i;
    display: block
  }

  .weight#{$i} {
    font-weight: 100*$i
  }
}

@for $i from 5 through 30 {
  .margin#{$i} {
    margin: 1px * $i
  }

  .padding#{$i} {
    padding: 1px *$i
  }

  .marginLeft#{$i} {
    margin-left: 1px * $i
  }

  .marginRight#{$i} {
    margin-right: 1px * $i
  }

  .marginTop#{$i} {
    margin-top: 1px * $i
  }

  .marginBottom#{$i} {
    margin-bottom: 1px * $i
  }

  .paddingLeft#{$i} {
    padding-left: 1px*$i
  }

  .paddingTop#{$i} {
    padding-top: 1px*$i
  }

  .paddingRigth#{$i} {
    padding-right: 1px*$i
  }

  .paddingBonttom#{$i} {
    padding-bottom: 1px*$i
  }
}

@for $i from 1 through 3 {
  .limit#{$i} {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
    white-space: nowrap;
  }
}

//背景颜色列表
$bgList: ('f7f9ff':#f7f9ff, 'fff': #fff, 'eff3f5':#eff3f5, 'f2f2f2': #f2f2f2, 'fe5f34': #fe5f34, '56b771': #56b771, 'd0effc': #d0effc, 'fddcd4': #fddcd4, '999':#999, 'ccc':#ccc);

@each $key,
$value in $bgList {
  .bg#{$key} {
    background: $value
  }
}

//颜色列表
$colorList:('e6a23c':#e6a23c, '9C9C9C':#9C9C9C, '1D8DFF':#1D8DFF, '25C281':#25C281, '383838':#383838, '171717':#171717, 'ff5959':#ff5959, '365d98':#365d98, '3e4a59':#3e4a59, '6a81ae':#6a81ae, '2bcaf6':#2bcaf6, '56b771': #56b771, 'e28c41':#e28c41, '709ead':#709ead, '36e2d4':#36e2d4, '000':#000, 'fff':#fff, 'ff7f00':#ff7f00, '0099d9':#0099d9);

@each $key,
$value in $colorList {
  .color#{$key} {
    color: $value
  }

  ;
}

//按钮颜色列表
$buttonColor: ('67C23A':#67C23A, '8FE421':#8FE421, '00A1E8':#00A1E8, '6CF5B3':#6CF5B3, 'E6A23C': #E6A23C, '8390F2':#8390F2, 'BC66F9':#BC66F9, 'F56C6C':#F56C6C, );

@each $key,
$value in $buttonColor {
  .el-button--#{$key} {
    background: $value;
    color: white;
    border-color: $value;
  }

  .el-button--#{$key}:hover {
    background: $value !important;
    border-color: $value !important;
    color: white !important;
  }
}

/** 通用style  **/

/** 通用table **/
.myButtonAfter{
  content: '';
  width: 1px;
  height: 1em;
  background: #dcdfe6;
  margin: 0 8px;
  display: inherit;
  vertical-align: bottom;
  position: absolute;
  pointer-events: none;
}
.myLbTable{ 
  .el-table thead th{color: #000;font-size: 16px;font-weight: 400!important;}
  .el-table .el-table__header-wrapper{background: white;border-right: 0;border-bottom: 0;margin-bottom: 4px;box-shadow:0px 2px 4px 0px rgba(219, 219, 219, 0.35);}
  .el-table th.is-leaf{height: 56px;border-bottom: 0;padding: 0;}
  .el-table td{border-bottom: 0;height: 53px;border-right: 0;padding: 0;}
  .el-table tr:hover td{background:initial}
  .el-table tr:nth-child(2n) td{background:#F1F9FF;}
  .el-table::before{background:none}
  .el-table{border:1px solid rgba(234,239,245,1);}
  //去除多选超出会显示...
  .el-table-column--selection,.el-table-column--selection .cell{text-overflow:inherit}
  .buttonDivider>.publicButtonDivider>button,.buttonDivider>button{position: relative;margin-right: 14px;}
  .buttonDivider>.publicButtonDivider>button.el-button:last-child,.buttonDivider>button.el-button:last-child{margin-right: 0;}
  .buttonDivider>.publicButtonDivider>button.el-button::after,.buttonDivider>button.el-button::after{@extend .myButtonAfter;}
  .buttonDivider>.publicButtonDivider>button.el-button:last-child::after,.buttonDivider>button.el-button:last-child::after{display: none;}
  .buttonDivider>.publicButtonDivider + button.el-button::before{
    @extend .myButtonAfter;
  };
  .buttonDivider .el-button+.el-button{margin-left:0}
}



.el-table--scrollable-x .el-table__body-wrapper {
  max-height: 56vh;
  overflow: auto;
}

//自定义弹窗样式
.myDialog .el-dialog__body {
  max-height: calc(70vh - 110px);
  overflow: auto;
}

//通用弹窗样式
.el-dialog .el-dialog__header {
  border-bottom: 1px solid #e8e8e8;
}

//自定义树形模式
.myTree {
  .is-current {
    >.el-tree-node__content {
      background: $subMenuActiveBg;
      color: $subMenuActiveText;
    }
  }

  .el-tree-node__content {
    height: 36px;
  }

  .el-tree-node__content:hover {
    background: $subMenuActiveBg;
  }
}

//自定义form 样式  
.myForm {
  .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset{
    white-space:initial
  }
  .el-form-item__content {
    .el-select {
      width: 100%;
    }
  }

  .form-title {
    margin: 10px;
    background-color: #74bcff1f;
    height: 35px;
    text-align: left;
    color: black;
    font-weight: 600;
    padding: 10px 0px;

    span {
      padding-left: 8px;
      border-left: 4px solid #1685f8;
    }
  }
}

.scrollbarAuto {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 9px;
    background-color: rgba(245, 245, 245, 0.47);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #ccc;
  }
}


.flowCustomerForm .flexMain {
  @extend .scrollbarAuto;
  width: calc(100% - 5px);
}

//铺满一屏
.myContent {
  height: calc(100vh - 130px);
  @extend .scrollbarAuto;

  .el-table__body-wrapper {
    max-height: calc(100vh - 340px);
    @extend .scrollbarAuto;
  }

  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}

.width100 {
  width: 100%;
}

.pointerf5f5f5 {
  pointer-events: none;
  background: #f5f5f5;
}

.pointer {
  cursor: pointer;
}

/* 自定义表单start  */
.absolute100 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.fixed20 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.customer-form {
  width: 100%;
  overflow: hidden;

  .el-form-item {
    float: left;
    display: flex;
  }

  .el-form-item[mycol='1'] {
    width: 100%;
  }

  .el-form-item[mycol='2'] {
    width: 50%;
  }

  .el-form-item[mycol='3'] {
    width: 33.333%;
  }

  .el-form-item[mycol='4'] {
    width: 25%;
  }

  .el-form-item__label {
    display: table-cell;
    flex: 0 0 auto;
  }

  .el-form-item__content,
  .el-date-editor.el-input,
  .el-input-number--medium,
  .el-select,
  .el-cascader {
    width: 100%;
    margin-left: 0 !important
  }

  .noLabel .el-form-item__label {
    display: none;
  }

  .mce-panel {
    width: calc(100% - 2px) !important
  }

  .customerPointerf5f5f5 {
    cursor: no-drop;

    & .mce-container {
      @extend .pointerf5f5f5;
    }
  }

  .cobyTinymce {
    background-color: #F5F7FA;
    color: #C0C4CC;
    cursor: not-allowed;
    border: 1px solid #dfe4ed;
    outline: none;
    padding: 0 15px;
    border-radius: 4px;
  }
}

.noLabel .el-form-item__content {
  margin-left: 0 !important
}

.myCascader {
  .el-radio__inner {
    border: 0px;
    background-color: inherit
  }

  .el-radio__input.is-checked .el-radio__inner {
    @extend.absolute100;
    background: none
  }

  .el-radio {
    @extend.absolute100;
  }
}

/* 自定义表单end  */

/* 流程的 */

 //tools 下隐藏的
 $entryNode:'','.bpmn-icon-space-tool';
 $groupNode:'gateway';
.myContainers {
  .djs-context-pad.open{
    .group{
      &[data-group='model']{
        .bpmn-icon-text-annotation,.bpmn-icon-gateway-none,.bpmn-icon-intermediate-event-none{display: none;}
      }
      &[data-group="edit"]{
        .bpmn-icon-screw-wrench{display: none;}
      }
    }
  }
  .djs-palette.two-column{
    &.open{width: 48px;}
    .group[data-group="tools"]{
     .bpmn-icon-lasso-tool,.bpmn-icon-space-tool{display: none;} 
    }
    .group[data-group="event"]{
      .bpmn-icon-intermediate-event-none{display: none;}
    }
    .group[data-group="activity"]{
      .bpmn-icon-subprocess-expanded{display: none;}
    }
    .group[data-group="collaboration"],.group[data-group="data-store"],.group[data-group="data-object"],.group[data-group="gateway"]{display: none;}
  }

  .containers {
    @extend .flexBox;
    background-color: #ffffff;
    width: 100%;

    & .bjs-powered-by {
      display: none;
    }

    height: calc(100vh - 130px);
    border: 0;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .canvas {
    @extend .flex1;
    height: 100%;
  }
  .properties-panel-parent{
    border-left: 1px solid #ccc;
    padding: 0 16px;
    background-color: #f8f8f8;
    width: 460px;
    max-height: calc(100vh - 130px);
    @extend .scrollbarAuto;
    &::-webkit-scrollbar-thumb {
      background: #f8f8f8;
    }
    .el-form-item--medium .el-form-item__label{
      padding:0
    }
    .el-form-item{margin-bottom: 0;}

  }

  .panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
  }

  .minQuadrilateral {
    width: 30px;
    height: 30px;
    background-color: #c6edfe;
    border: 2px solid #000;
    border-radius: 6px;
  }

  .minNoQuadrilateral {
    @extend .minQuadrilateral;
    background: #ff85ff;
  } 

  .flowCustomerForm .flexMain .myContent {
    overflow: hidden;
    height: initial;
  }

  #js-properties-panel{
    
   
    .bpp-properties{
      .bpp-properties-group[data-group='documentation'],.bpp-properties-tab-bar,.bpp-properties-header{display: none;}
      .bpp-properties-group[data-group='general']{
        .bpp-properties-entry.bpp-checkbox,.bpp-properties-entry.bpp-textfield,.group-label{display: none;}
        .group-toggle,.bpp-properties-entry > label[for='camunda-name'] {
          display: none;
      }
      .bpp-field-wrapper{
        #camunda-name[name="name"][contenteditable]:before{display: none;}
      }
      
      .bpp-properties-entry.bpp-textbox:before {
        content: '节点名称';
        font-weight: bolder;
        display: inline-block;
        vertical-align: middle;
        color: #606266;
        margin-bottom: 0;
        line-height: 36px;
        font-size: 14px;
    }
    
      }
    }
    .bpp-properties-group[data-group="general"]{
      padding: 0 
    }
  }
  .bpp-hidden{display: none;}
}

.noNumber>span[role='button'] {
  display: none;
}

.noNumber .el-input--medium input {
  padding-left: 20px;
  padding-right: 20px;
}
/* 流程的 */
