// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#6A778F;
$menuActiveText:#1685F8;
$subMenuActiveText:#1685F8; // https://github.com/ElemeFE/element/issues/12951
$subMenuActiveBg:#D8FAFF!important;
$subMenuActiveAfterBg:#2EAEFF;
$subMenuActiveAfterWidth:2px;

$menuBg:#FFFFFF;
$menuHover:#D8FAFF;



$subMenuBg:#FFFFFF;
$subMenuHover:#D8FAFF;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;

  subMenuActiveBg : $subMenuActiveBg;
  subMenuActiveAfterBg : $subMenuActiveAfterBg;
  subMenuActiveAfterWidth : $subMenuActiveAfterWidth;
}
