<template>
  <el-card class="expert-list-container overspread-page myBody">
    <img src="images/weicome.png" class="weicome" />
    <div class="title">欢迎使用润建HR信息管理系统</div>
    <img src="images/home-bg.png" class="bg" />
  </el-card>
</template>

<script>
export default {
  name: 'index',
  data() {
    return {}
  },
  created() {}
}
</script>
<style scoped>
.myBody {
  height: calc(100vh - 158px);
  position: relative;
}
.weicome {
  width: 452px;
  display: block;
  margin: 273px auto 30px;
}
.bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.title {
  font-size: 60px;
  font-weight: 400;
  color: rgba(134, 156, 190, 1);
  text-align: center;
}
</style>
