<template>
  <el-dialog
    :title="title"
    :visible="visible"
    width="520px"
    append-to-body
    :destroy-on-close="true"
    @close="close"
    :close-on-click-modal="false"
  >
    <div class="font16">
      <i class="el-icon-warning"></i>
      {{message}}
    </div>
    <div slot="footer" class="textRight">
      <el-button @click="close(false)">取消</el-button>
      <el-button type="primary" @click="clickOk()" :loading="loading">确定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import moment from "moment";
import service from "@/utils/request";
import { checkArray } from "../../utils";
export default {
  name: "toolTipBox",
  components: {},
  mixins: [],
  data() {
    return {
      //loading
      loading: false
    };
  },
  props: {
    // 显示隐藏弹窗
    visible: {
      type: Boolean,
      default: false
    },

    // 标题
    title: {
      type: String,
      default: "提示"
    },

    // 内容
    message: {
      type: String,
      default: "此操作将删除该记录，是否继续？"
    },

    // 删除的url
    deleteServe: {
      type: String,
      default: ""
    },

    deleteArray: {
      type: Array,
      default: () => []
    },

    deleteArrayType: {
      type: String,
      default: "id"
    },

    //属性
    deleteType: {
      type: String,
      default: "Id"
    },

    //从父级页面传过来的值
    id: ""
  },
  created() {},
  methods: {
    //关闭弹窗  true刷新父级页面   false 修改父级的visible
    close(type) {
      this.$emit("close", type);
    },

    //点击确定按钮
    clickOk() {
      if (this.deleteServe) {
        this.loading = true;

        let value = {};
        if (!checkArray(this.deleteArray)) {
          value[this.deleteType] = this.id;
        } else {
          const ids = [];
          this.deleteArray.forEach(item => {
            if (item[this.deleteArrayType]) {
              ids.push(item[this.deleteArrayType]);
            } else {
              ids.push(item);
            }
          });
          value["ids"] = ids;
        }
        service
          .post(this.deleteServe, value)
          .then(() => {
            this.$messagSuccess("操作成功");
            this.close(true);
          })
          .catch(err => {
            this.loading = false;
            this.$messagError("操作失败");
          });
        return false;
      }
      this.close(false);
    }
  }
};
</script>

<style lang="scss" scoped>
.el-icon-warning {
  color: #e6a23c;
}
</style>
