<template>
  <div v-if="createtOrUpdateFrow_TemplateInfos && createtOrUpdateFrow_TemplateInfos.length>0">
    <el-form
      :model="form"
      autocomplete="off"
      :rules="rules"
      ref="form"
      label-width="150px"
      class="demo-form customer-form"
    >
      <template v-for="(item, index) in createtOrUpdateFrow_TemplateInfos">
        <el-form-item
          :label="item.editFrow_TemplateInfo_ColumDto.fieldName"
          :class="{noLabel: item.editFrow_TemplateInfo_ColumDto.controlType == 'partitionLine' || item.editFrow_TemplateInfo_ColumDto.controlType == 'table'}"
          :prop="item.editFrow_TemplateInfo_ColumDto.fieldES"
          :myCol="item.editFrow_TemplateInfo_ColumDto.rowScale"
          :key="index"
        >
          <el-input
            @input="outPutForm(item,index,$event)"
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'text'"
            v-model="form[item.editFrow_TemplateInfo_ColumDto.fieldES]"
            :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
            :placeholder="item.editFrow_TemplateInfo_ColumDto.placeholder"
            autocomplete="off"
          ></el-input>

          <el-input
            type="textarea"
            @input="outPutForm(item,index,$event)"
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'textarea'"
            v-model="form[item.editFrow_TemplateInfo_ColumDto.fieldES]"
            :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
            :placeholder="item.editFrow_TemplateInfo_ColumDto.placeholder"
            autocomplete="off"
            :autosize="{ minRows: 2}"
          ></el-input>
          <div v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'ueditor'">
            <tinymce
              @input="outPutForm(item,index,$event)"
              class="tinymce"
              v-show="!isPrinting"
              :class="{customerPointerf5f5f5:!item.editFrow_TemplateInfo_ColumDto.isWrite}"
              v-model="form[item.editFrow_TemplateInfo_ColumDto.fieldES]"
              menubar="false"
              :height="360"
            />
            <el-input
              class="cobyTinymce"
              type="textarea"
              v-show="isPrinting"
              autocomplete="off"
              v-html="form[item.editFrow_TemplateInfo_ColumDto.fieldES]"
              :autosize="{ minRows: 2}"
            ></el-input>
          </div>

          <el-select
            v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
            placeholder="item.editFrow_TemplateInfo_ColumDto.placeholder"
            class="select width10"
            :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'select'"
          >
            <el-option
              v-for="box in item.controlSourceDatas"
              :key="box.value"
              :label="box.value"
              :value="box.value"
            ></el-option>
          </el-select>

          <el-input-number
            @input="outPutForm(item,index,$event)"
            :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
            v-model="form[item.editFrow_TemplateInfo_ColumDto.fieldES]"
            controls-position="right"
            :min="1"
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'inputNumber'"
          ></el-input-number>

          <el-date-picker
            @change="outPutForm(item,index,$event)"
            :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'datePicker'"
            v-model="form[item.editFrow_TemplateInfo_ColumDto.fieldES]"
            type="date"
            :placeholder="!item.editFrow_TemplateInfo_ColumDto.isWrite?'':item.editFrow_TemplateInfo_ColumDto.placeholder"
          ></el-date-picker>

          <el-radio-group
            class="cobyRadio"
            v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
            :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'radio'"
          >
            <el-radio
              :label="box.value"
              v-for="box in item.controlSourceDatas"
              :key="box.value"
            >{{box.value}}</el-radio>
          </el-radio-group>

          <el-checkbox-group
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'checkbox'"
            :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
            v-model="form[item.editFrow_TemplateInfo_ColumDto.fieldES]"
            @change="outPutForm(item,index,$event)"
          >
            <el-checkbox
              v-for="(box,index) in item.controlSourceDatas"
              :key="index"
              :label="box.label"
            ></el-checkbox>
          </el-checkbox-group>

          <el-cascader
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'cityCountyAndDistrict'"
            :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
            v-model="form[item.editFrow_TemplateInfo_ColumDto.fieldES]"
            :placeholder="item.editFrow_TemplateInfo_ColumDto.placeholder"
            :options="positionEnum"
            :props="{ checkStrictly: true }"
            popper-class="myCascader"
            @change="outPutForm(item,index,$event)"
          ></el-cascader>

          <el-divider
            :content-position="item.editFrow_TemplateInfo_ColumDto.defaultValue"
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'partitionLine'"
          >{{item.editFrow_TemplateInfo_ColumDto.fieldName}}</el-divider>

          <div
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'table' && item.childrenTable"
          >
            <div class="flexBox">
              <div class="flex1 flexLeftContent">
                <h3>{{item.editFrow_TemplateInfo_ColumDto.fieldName}}</h3>
              </div>
              <div class="flexContent" v-if="item.editFrow_TemplateInfo_ColumDto.isWrite">
                <el-button type="primary" @click="addTd(item,index)">新增</el-button>
                <el-button type="primary" @click="deleteTd(item,index)">删除</el-button>
              </div>
            </div>

            <table ref="multipleTable" tooltip-effect="dark" style="width: 100%">
              <!-- 迭代表头 -->
              <thead>
                <tr>
                  <th style="width:55px">
                    <el-checkbox v-model="allChecked" @change="changeTdAllCheckbox(item,$event)">全选</el-checkbox>
                  </th>
                  <th v-for="(box,index) in item.childrenTable" :key="index">{{box.fieldName}}</th>
                </tr>
              </thead>

              <tbody>
                <!-- 迭代表单 -->
                <tr v-for="(box,index) in item.controlTableRows" :key="index">
                  <td>
                    <el-checkbox v-model="box.checkbox"></el-checkbox>
                  </td>
                  <td v-for="(pipo,index) in box.colValues" :key="index">
                    <el-input-number
                      v-model="pipo.defaultValue"
                      controls-position="right"
                      v-if="pipo.controlType == 'inputNumber'"
                    ></el-input-number>

                    <el-input
                      v-if="pipo.controlType == 'text'"
                      v-model="pipo.defaultValue"
                      placeholder="请输入"
                      autocomplete="off"
                    ></el-input>

                    <el-date-picker
                      v-if="pipo.controlType == 'datePicker'"
                      v-model="pipo.defaultValue"
                      type="date"
                      placeholder="请输入"
                    ></el-date-picker>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <upload-customer-form
            :disabled.sync="!item.editFrow_TemplateInfo_ColumDto.isWrite"
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'upload'"
            :upLoadParams="upLoadParams"
            :fileListData="form[item.editFrow_TemplateInfo_ColumDto.fieldES]"
            :uploadURlData="uploadURlData"
            @fileListCallback="getUploadList(item,$event)"
            ref="uploadFile"
          ></upload-customer-form>

          <!-- 选部门选岗位的合集 -->
          <el-select
            :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
            v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'choicePerson' || item.editFrow_TemplateInfo_ColumDto.controlType == 'choiceStation' || item.editFrow_TemplateInfo_ColumDto.controlType == 'choiceDeptartment'"
            multiple
            @focus="showSelectPopover(item,index)"
            v-model="form[item.editFrow_TemplateInfo_ColumDto.fieldES]"
            popper-class="hidden-select___option"
            placeholder="请选择"
            @remove-tag="removeTag(item,$event)"
          >
            <el-option
              v-for="(box, index) in item.controlSourceDatas"
              :key="index"
              :label="box.label"
              :value="box.value"
            ></el-option>
          </el-select>
        </el-form-item>
      </template>
    </el-form>

    <select-popover
      :innerVisible="showPopover"
      :getSelectDataParams="dataParams"
      @updateVisible="getVisible"
      @callbackData="getSelectData"
    ></select-popover>
  </div>
</template>

<script>
import { checkArray, getProto, checkArrayString } from '@/utils/index'
import tinymce from '@/components/Tinymce'
import SelectPopover from '@/components/selectPopover/selectPopover'
import uploadCustomerForm from '@/components/uploadCustomerForm'
export default {
  name: 'customerForm',
  components: {
    tinymce,
    uploadCustomerForm,
    SelectPopover
  },
  data() {
    return {
      showPopover: false,
      dataParams: {},

      //自定义表单的文件上传url，跟通用权限的那个接口不一致
      uploadURlData:
        process.env.VUE_APP_FLOW_SERVE_URL +
        '/api/services/app/WorkFlowedFrowManager/UploadFileCommon',
      //复制选人 选岗位  选部门的。作为参照
      cobyItem: {
        item: null,
        index: null
      },

      //上传的属性
      upLoadParams: {
        btnType: {
          // hideDowloadBtn:true, //隐藏下载按钮
          // hideUploadBtn:true,  // 隐藏上传按钮
          // hideDleBtn:true,     // 隐藏删除按钮
        },
        params: {
          // 文件上传参数
          // sys: 'pss',
          // upLoadType: 'Partner_CL_CertificateInfo', // 存储文件名
          // fKId: '-1',
          // FileMD5: ''
        },
        uploadFileType: null, // 上传类型 IMG：图片类型，null不限类型
        DelIsTrue: false //是否需要假删除
      },

      //多选 因为表头归表头。表单归表单。得分开
      allChecked: false,

      //根据 createtOrUpdateFrow_TemplateInfos 生成对应的表单属性
      form: {},

      //根据 createtOrUpdateFrow_TemplateInfos 生成对应的表单规则
      rules: {},

      //市县区的编码
      positionEnum: this.$PublicEnumeration.positionEnum
    }
  },
  props: {
    //从父级获取的表单组件
    createtOrUpdateFrow_TemplateInfos: {
      type: Array,
      default() {
        return []
      }
    },

    //是否打印  打印的话。部分样式不可用。
    isPrinting: {
      type: Boolean,
      default: false
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      if (checkArray(this.createtOrUpdateFrow_TemplateInfos)) {
        this.createtOrUpdateFrow_TemplateInfos.forEach(item => {
          const dto = item.editFrow_TemplateInfo_ColumDto
          const type = dto.controlType
          const defaultValue = dto.defaultValue ? dto.defaultValue : ''
          //判断必填 生成对应的规则
          let checkList = []
          if (
            type == 'text' ||
            type == 'textarea' ||
            type == 'ueditor' ||
            type == 'inputNumber' ||
            type == 'datePicker'
          ) {
            this.dynamic(dto, defaultValue, 0)
          } else if (type == 'checkbox') {
            item.controlSourceDatas.forEach(box => {
              if (box.value === 'true') {
                checkList.push(box.label)
              }
            })
            this.dynamic(dto, checkList, 1)
          } else if (type == 'cityCountyAndDistrict') {
            if (checkArray(item.controlSourceDatas)) {
              item.controlSourceDatas.forEach(box => {
                checkList.push(box.value)
              })
            }
            this.dynamic(dto, checkList, 1)
          } else if (type == 'upload' || type == 'download') {
            item.controlSourceDatas = item.controlSourceDatas
              ? item.controlSourceDatas
              : []
            item.controlSourceDatas.forEach(box => {
              box.name = box.label
              ;(box.url =
                process.env.VUE_APP_FLOW_SERVE_URL +
                '/api/TokenAuth/DownloadTempFileNew?fileType=' +
                box.otherValue1 +
                '&fileToken=' +
                box.value +
                '&fileName=' +
                box.label +
                '&filePath=' +
                box.otherValue),
                (box.status = 'success')
              box.uid = box.value
            })
            console.log(item.controlSourceDatas)
            this.dynamic(dto, item.controlSourceDatas, 1)
          } else if (
            item.editFrow_TemplateInfo_ColumDto.controlType == 'choicePerson' ||
            item.editFrow_TemplateInfo_ColumDto.controlType ==
              'choiceStation' ||
            item.editFrow_TemplateInfo_ColumDto.controlType ==
              'choiceDeptartment'
          ) {
            if (checkArray(item.controlSourceDatas)) {
              item.controlSourceDatas.forEach(box => {
                checkList.push(box.value)
              })
            }
            this.dynamic(dto, checkList, 1)
          }
        })
      }
    },

    showSelectPopover(item, index) {
      const dto = item.editFrow_TemplateInfo_ColumDto
      this.cobyItem.item = item
      this.cobyItem.index = index

      /** 默认选人的参数  */
      let url = '/api/services/app/BaseUser/CommonSelectUsersByPage'
      let leftColumns = [
        {
          sortable: true,
          searchParams: false,
          prop: 'id',
          label: '编号',
          align: 'center',
          width: 100
        },
        {
          sortable: true,
          searchParams: false,
          prop: 'employeeBaseInfoId',
          align: 'center',
          label: '人员编号',
          width: 300
        },
        {
          sortable: true,
          searchParams: 'realName',
          prop: 'realName',
          align: 'center',
          label: '人员姓名',
          width: 400
        }
      ]
      let righColumns = [
        {
          sortable: true,
          prop: 'id',
          label: '编号',
          align: 'center'
        },
        {
          sortable: true,
          prop: 'realName',
          label: '人员姓名',
          align: 'center'
        }
      ]

      if (checkArray(item.controlSourceDatas)) {
        item.controlSourceDatas.forEach(item => {
          item.id = item.value
          item.realName = item.label

          //岗位和部门反选参数是一致的，就写在这里算了
          item.name = item.label
        })
      }

      /** 默认选人的参数  */
      switch (dto.controlType) {
        //选部门
        case `choiceDeptartment`:
          url = '/api/services/app/DepartmentPostUser/DepartmentsListByPage'
          righColumns = [
            {
              sortable: true,
              prop: 'id',
              label: '编号',
              align: 'center'
            },
            {
              sortable: true,
              prop: 'name',
              label: '部门',
              align: 'center'
            }
          ]
          leftColumns = [
            {
              sortable: true,
              prop: 'id',
              label: '编号',
              align: 'center',
              width: 120
            },
            {
              sortable: true,
              prop: 'name',
              searchParams: 'name',
              label: '部门名称',
              align: 'center'
            },
            {
              sortable: true,
              prop: 'fullPath',
              label: '部门路径',
              align: 'center'
            }
          ]
          break

        //选岗位
        case `choiceStation`:
          url = '/api/services/app/Post/PostListByPage'
          righColumns = [
            // 右边table
            {
              sortable: true,
              prop: 'id',
              label: '编号',
              align: 'center'
            },
            {
              sortable: true,
              prop: 'name',
              label: '岗位',
              align: 'center'
            }
          ]
          leftColumns = [
            // 左边table
            {
              sortable: true,
              prop: 'id',
              label: '编号',
              align: 'center',
              width: 120
            },
            {
              sortable: true,
              prop: 'name',
              searchParams: 'name',
              label: '岗位名称',
              align: 'center'
            },
            {
              sortable: true,
              prop: 'describe',
              label: '描述',
              align: 'center'
            }
          ]

          break

        default:
          break
      }
      this.dataParams = {
        titleText: dto.fieldName,
        selectDataType: 3, // 1单选 3多选
        ApiURL: url,
        rightInitialData: item.controlSourceDatas,
        leftColumns: leftColumns,
        righColumns: righColumns
      }
      this.dataParams.refreshFlag = new Date().getTime()
      this.showPopover = true
    },

    // 接收弹窗子组件更新的数据
    getVisible(visible) {
      this.showPopover = visible
    },

    // 弹窗选择的信息回调
    getSelectData(value) {
      const dto = this.cobyItem.item.editFrow_TemplateInfo_ColumDto
      if (checkArray(value)) {
        //选择完了 发回父组件 让父组件修改
        this.outPutForm(this.cobyItem.item, this.cobyItem.index, value)
        this.form[dto.fieldES] = []
        value.forEach(box => {
          this.form[dto.fieldES].push(box.id)
        })
      }
      this.showPopover = false
    },
    //动态校验和设置表单  减少代码量
    dynamic(dto, defaultValue, type) {
      const rule =
        type == 0
          ? [
              {
                required: dto.isNull,
                message: '这是必填项',
                trigger: 'blur'
              }
            ]
          : [
              {
                type: 'array',
                required: true,
                message: '这是必填项',
                trigger: 'change'
              }
            ]
      this.$set(this.form, dto.fieldES, defaultValue)
      this.rules[dto.fieldES] = rule
    },

    //常用的必填input 回传回去。父级修改对应的操作
    outPutForm(item, index, event) {
      this.$emit('outPutForm', {
        item: item,
        //返回列表对象
        index: index,
        //返回当前点击对象
        event: event
      })
    },

    //新增td
    addTd(item, index) {
      item.controlTableRows =
        item.controlTableRows && item.controlTableRows.length > 0
          ? item.controlTableRows
          : []
      const Values = {
        colValues: []
      }
      item.childrenTable.forEach((element, index) => {
        const colValue = {
          controlType: element.controlType,
          fieldES: element.fieldES,
          fieldName: element.fieldName,
          defaultValue: null
        }
        Values.colValues.push(colValue)
      })
      item.controlTableRows.push(Values)
    },

    //删除td
    deleteTd(item, index) {
      if (checkArray(item.controlTableRows)) {
        for (let index = 0; index < item.controlTableRows.length; index++) {
          if (item.controlTableRows[index].checkbox) {
            item.controlTableRows.splice(index, 1)
            index--
          }
        }

        if (item.controlTableRows && item.controlTableRows.length == 0) {
          this.allChecked = false
        }
      }
    },

    //点击table 的全选
    changeTdAllCheckbox(value, event) {
      if (checkArray(value.controlTableRows)) {
        value.controlTableRows.forEach(item => {
          item.checkbox = event
        })
      }
    },

    // 获取上传文件的calback回掉
    getUploadList(value, event) {
      const fieldES = value.editFrow_TemplateInfo_ColumDto.fieldES
      value.controlSourceDatas = []
      this.form[fieldES] = []
      event.forEach(item => {
        const type = item.response && item.response.result
        //两次返回的类型不一致。做判断
        const result = type ? item.response.result : item

        // const uid = type?result.value:result.guid
        // const name = type?result.label:result.fileName
        // const filePath = type?result.otherValue:result.filePath
        // const fileType = type?result.otherValue1:result.fileType

        const uid = result.value
        const name = result.label
        const filePath = result.otherValue
        const fileType = result.otherValue1

        const controlSourceData = {
          value: uid,
          label: name,
          otherValue: filePath,
          otherValue1: fileType,
          name: name,
          url:
            process.env.VUE_APP_FLOW_SERVE_URL +
            '/api/TokenAuth/DownloadTempFileNew?fileType=' +
            fileType +
            '&fileToken=' +
            uid +
            '&fileName=' +
            name +
            '&filePath=' +
            filePath,
          uid: uid,
          status: 'success'
        }
        value.controlSourceDatas.push(controlSourceData)
      })
      this.form[fieldES] = [...value.controlSourceDatas]
    },

    //选人,选部门,选岗位的删除tag
    removeTag(item, value) {
      const box = item.controlSourceDatas
      const index = checkArrayString(box, 'value', value)
      if (index != -1) {
        box.splice(index, 1)
      }
    }
  }
}
</script>
<style scoped>
</style>