<template>
  <el-card shadow="never" element-loading-text="加载中，请稍后">
    <el-form
      ref="page"
      :model="form"
      :inline="true"
      @submit.native.prevent
      v-if="hasHeaderForm"
      class="topForm"
    >
      <el-form-item :label="itemLabel" prop="filterText" v-if="isFormInput">
        <el-input
          v-model.trim="form.filterText"
          :style="{width:inputPlaceholder.length + 5 +'em'}"
          clearable
          @clear="clearInput"
          prefix-icon="el-icon-search"
          :placeholder="inputPlaceholder"
          @keyup.enter.native="search()"
        />
      </el-form-item>
      <slot name="hreadFormItem"></slot>

      <el-form-item label>
        <el-button type="primary" @click="search()" v-if="isSearch">搜索</el-button>
        <el-button type="E6A23C" @click="reset()" v-if="isReset">重置</el-button>
        <slot name="hreadButton"></slot>
      </el-form-item>
    </el-form>
    <div>
      <lb-table
        ref="publicLbTable"
        class="myLbTable"
        :highlight-current-row="showHighlightCurrentRow == 'radio' || showHighlightCurrentRow =='checkbox'"
        :current-page.sync="page.page"
        :total="pagination.total"
        :pagination="pagination?true:false"
        :page-sizes="[10,25,50,100]"
        layout="total, sizes,prev, pager, next, jumper"
        :column="column"
        :data="data"
        v-loading="loading"
        @p-current-change="handleCurrentChange"
        @size-change="sizeChange"
        @row-click="rowClick"
        @select-all="selectAll"
        @select="select"
      ></lb-table>
    </div>
  </el-card>
</template>

<script>
import LbTable from '@/components/LbTable/lb-table'
import service from '@/utils/request'
import {
  checkArray,
  checkArrayString,
  getMultistage,
  getObjByValue
} from '@/utils/index'
export default {
  name: 'publicPages',
  components: {
    LbTable
  },
  props: {
    forEachItem: {
      type: String,
      default: ''
    },
    //radio 或者 checkbox
    showHighlightCurrentRow: {
      type: String,
      default: ''
    },
    myPages: {
      type: Object,
      default: function() {
        return {}
      }
    },

    //每次刷新列表 清空已选的列表
    checkboxDeleteValue: {
      type: Boolean,
      default: true
    },

    //多选属性
    checkboxAttribute: {
      type: Object,
      default: function() {
        return {
          //判断的属性
          type: 'id',

          wdith: '100px',

          //默认值   外部传默认值进来
          value: [],

          //位置 默认第0个
          index: 0
        }
      }
    },
    //单选属性
    radioAttribute: {
      type: Object,
      default: function() {
        return {
          //判断的属性
          type: 'id',

          wdith: '100px',
          //表头
          label: '选择',

          //默认值
          value: '',

          //位置 默认第0个
          index: 0
        }
      }
    },
    inputPlaceholder: {
      type: String,
      default: '请输入搜索的关键字'
    },
    itemLabel: {
      type: String,
      default: ''
    },
    column: {
      default: []
    },
    isSearch: {
      type: Boolean,
      default: true
    },
    isReset: {
      type: Boolean,
      default: true
    },
    isFormInput: {
      type: Boolean,
      default: true
    },
    hasHeaderForm: {
      // 是否显示顶部搜索框以及按钮部分
      type: Boolean,
      default: true
    },
    //列表请求的url
    listServe: {
      type: String,
      default: ''
    },
  },
  data() {
    return {
      currentRow: {},

      //列表的头上的表单。用来做筛选数据用的。
      form: {},
      // 传给后台的分页
      page: {
        // 当前页面
        page: 1,
        // 每页条数
        maxResultCount: 10
      },

      //分页的配置
      pagination: {
        total: 0,
        current: 1
      },

      loading: false,

      data: []
    }
  },
  created() {
    if (this.listServe) {
      this.getList()
    }
    if (this.showHighlightCurrentRow == 'radio') {
      //radio 给新增一个 radio 框框
      this.column.splice(0, this.radioAttribute.index, {
        label: this.radioAttribute.label,
        width: this.radioAttribute.wdith,
        render: (h, scope) => {
          return (
            <el-radio
              value={this.radioAttribute.value}
              label={scope.row[this.radioAttribute.type]}
              class="noLabel"
            ></el-radio>
          )
        }
      })
    }
  },
  methods: {
    //点击搜索
    search() {
      this.page.page = 1
      this.getList()
    },
    // 重置搜索
    reset() {
      this.page.page = 1
      if (this.form) {
        Object.keys(this.form).forEach(key => {
          this.form[key] = undefined
        })
      }
      this.$emit('reset')
      this.getList()
    },
    // 输入框点击 x 删除，列表数据刷新
    clearInput() {
      this.getList()
    },

    //获取列表数据
    getList(then) {
      this.page = Object.assign({}, this.page, this.form)
      this.page = Object.assign({}, this.page, this.myPages)
      this.loading = true
      service
        .post(this.listServe, this.page)
        .then(res => {
          this.loading = false
          this.data = res.data || res.items
          this.pagination.total = res.totalCount
          if (this.checkboxDeleteValue) {
            this.checkboxAttribute.value = []
          }
          if (this.checkboxAttribute.value) {
            setTimeout(() => {
              this.checkboxArrayUpdate()
            }, 33)
          }

          if (then) then()

          //返回列表对象
          this.$emit('onGetList', { list: this.data })
        })
        .catch(err => console.log(err))
    },
    //分页的change事件
    handleCurrentChange(value) {
      this.page.page = value
      this.getList()
    },
    //点击行
    rowClick(value, column, event) {
      this.currentRow = value
      if (this.showHighlightCurrentRow == 'radio') {
        //点击行和radio 的选中冲突了  在这做判断  如果是选中radio 则不触发回调
        if (event.target.localName === 'span') return false

        this.radioAttribute.value = value[this.radioAttribute.type]
        this.selectComplete()
      } else if (this.showHighlightCurrentRow == 'checkbox') {
        const index = checkArrayString(
          this.checkboxAttribute.value,
          this.checkboxAttribute.type,
          getMultistage(value, this.checkboxAttribute.type)
        )
        if (index === -1) {
          this.checkboxAttribute.value.push(value)
        } else {
          this.checkboxAttribute.value.splice(index, 1)
        }
        this.$refs.publicLbTable.$refs.elTable.toggleRowSelection(value)
        this.selectComplete()
      }
    },

    //点击全选
    selectAll(value) {
      if (checkArray(value)) {
        this.data.forEach(item => {
          const index = checkArrayString(
            this.checkboxAttribute.value,
            this.checkboxAttribute.type,
            getMultistage(item, this.checkboxAttribute.type)
          )
          if (index == -1) this.checkboxAttribute.value.push(item)
        })
      } else {
        this.data.forEach(item => {
          const index = checkArrayString(
            this.checkboxAttribute.value,
            this.checkboxAttribute.type,
            getMultistage(item, this.checkboxAttribute.type)
          )
          if (index != -1) this.checkboxAttribute.value.splice(index, 1)
        })
      }
      this.selectComplete()
    },

    //修改checkbox状态
    checkboxArrayUpdate() {
      this.data.forEach(value => {
        if (
          checkArrayString(
            this.checkboxAttribute.value,
            this.checkboxAttribute.type,
            getMultistage(value, this.checkboxAttribute.type)
          ) != -1
        ) {
          this.$refs.publicLbTable.$refs.elTable.toggleRowSelection(value)
        }
      })
    },
    //点击单选
    select(value, row) {
      const index = checkArrayString(
        this.$refs.publicLbTable.$refs.elTable.selection,
        this.checkboxAttribute.type,
        getMultistage(row, this.checkboxAttribute.type)
      )
      if (index != -1) {
        this.checkboxAttribute.value.push(row)
      } else {
        this.checkboxAttribute.value.splice(index, 1)
      }
      this.selectComplete()
    },

    //分页的页码改变
    sizeChange(value) {
      this.page.maxResultCount = value
      this.getList()
    },

    //发送信息
    selectComplete() {
      this.$emit('selectComplete', {
        //返回列表对象
        list: this.data,

        //返回当前点击对象
        currentRow: this.currentRow,

        //返回多选对象
        checkboxAttribute: this.checkboxAttribute
      })
    }
  }
}
</script>