<template>
  <div class="navbar">
    <div class="left-menu">
      <div class="colorfff font26">OA系统</div>
    </div>
    <div class="right-menu">
      <template v-if="device!=='mobile'">
        <div class="right-menu-item">
          <user-operation></user-operation>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ErrorLog from '@/components/ErrorLog'
import Screenfull from '@/components/Screenfull'
import GoHome from './Sidebar//Home'
import UserOperation from '@/components/UserOperation'
export default {
  components: {
    ErrorLog,
    Screenfull,
    UserOperation,
    // Hamburger,
    GoHome
  },
  data() {
    return {
      popoverModel: false
    }
  },
  created() {},
  computed: {
    ...mapGetters(['sidebar', 'avatar', 'device', 'userInfo', 'application'])
  },
  methods: {
    // toggleSideBar() {
    //   this.$store.dispatch('app/toggleSideBar')
    // },
    goHome() {
      this.$router.push('/home')
    },
    clickPopover() {
      this.popoverModel = !this.popoverModel
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  height: 60px;
  overflow: hidden;
  position: relative;
  background: #1685f8;

  .icontrans-copy-copy {
    font-size: 22px;
    color: white;
  }

  .icontuichu1 {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

  .el-badge__content.is-fixed {
    background: red;
  }

  .el-badge__content {
    top: 20px;
    right: 10px;
    border: none;
  }

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  .breadcrumb-container {
    float: left;
  }

  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }
  .left-menu,
  .right-menu {
    float: right;
    height: 100%;
    line-height: 60px;

    .el-dropdown {
      color: white;
    }

    &:focus {
      outline: none;
    }

    .right-menu-item {
      display: inline-block;
      padding: 0 8px;
      height: 100%;
      font-size: 18px;
      color: white;
      vertical-align: text-bottom;

      &.hover-effect {
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.025);
        }
      }
    }

    .avatar-container {
      margin-right: 30px;

      .avatar-wrapper {
        margin-top: 5px;
        position: relative;

        .user-avatar {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }

        .el-icon-caret-bottom {
          cursor: pointer;
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
  }
  .left-menu {
    float: left;
  }
}
</style>