<template>
  <div class="myContainers">
    <div class="containers" ref="content">
      <div class="canvas" ref="canvas"></div>
      <div class="properties-panel-parent">
        <el-tabs v-model="selectedIndex" @tab-click="tabsChange">
          <template v-for="(item, index) in tabs">
            <el-tab-pane :label="item.label" :name="item.value" :key="index" v-if="item.show"></el-tab-pane>
          </template>
        </el-tabs>
        <div id="js-properties-panel" v-show="selectedIndex === '0'"></div>

        <!-- 迭代节点 -->
        <div v-for="(item,index) in data.nodeBaseInfos" :key="index">
          <el-form ref="form" :model="item" label-width="80px" label-position="top">
            <!-- 判断当前的节点是哪一个  使用v-if 节约节点  默认第一个 : StartEvent_1-->
            <div v-if="item.nodeId == dataType" class="paddingBonttom18">
              <!-- 常规 -->
              <div v-if="selectedIndex === '0'">
                <!-- 点击驳回线 -->
                <el-form-item v-if="elementType=='bpmn:SequenceFlow'">
                  <el-checkbox v-model="item.isBack" @change="isBackArray($event,dataType)">固定驳回</el-checkbox>
                </el-form-item>

                <!-- 点击方块形状 -->
                <div v-if="elementType=='bpmn:Task'">
                  <el-form-item label="节点类型">
                    <el-select v-model="item.auditingType" placeholder="请选择节点类型">
                      <el-option
                        v-for="(box,index) in nodeTypeList"
                        :key="index"
                        :label="box.label"
                        :value="box.value"
                      ></el-option>
                    </el-select>
                  </el-form-item>

                  <el-form-item label="办理时限">
                    <el-input-number v-model="item.timeLimit" :min="1"></el-input-number>（小时）
                  </el-form-item>
                  <el-form-item>
                    <el-checkbox v-model="item.isVerification">是否数字校验</el-checkbox>
                  </el-form-item>

                  <el-form-item>
                    <el-checkbox v-model="item.isParallel">审核是否并行</el-checkbox>
                  </el-form-item>

                  <el-form-item>
                    <el-checkbox v-model="item.isTemporaryAuditor">是否插入审批人</el-checkbox>
                  </el-form-item>

                  <el-form-item>
                    <el-checkbox v-model="item.isCancel">是否允许撤销流程</el-checkbox>
                  </el-form-item>

                  <el-form-item>
                    <el-checkbox v-model="item.isTurnDown">是否允许驳回流程</el-checkbox>
                  </el-form-item>

                  <el-form-item>
                    <el-checkbox v-model="item.isCountersign">是否会签</el-checkbox>
                  </el-form-item>

                  <el-form-item>
                    <el-checkbox v-model="item.isInterimAuditor">是否加临时审核人</el-checkbox>
                  </el-form-item>

                  <el-form-item>
                    <el-checkbox v-model="item.isUploadFile">是否上传附件</el-checkbox>
                  </el-form-item>

                  <el-form-item>
                    <el-checkbox v-model="item.isPrint">是否自动打印</el-checkbox>
                  </el-form-item>

                  <el-form-item label="节点说明">
                    <el-input v-model="item.nodeInstruction" placeholder="请输入节点说明"></el-input>
                  </el-form-item>
                  <el-form-item label="事件参数">
                    <el-input
                      type="textarea"
                      v-model="item.eventParams"
                      placeholder="请输入事件参数"
                      :autosize="{ minRows: 2}"
                    ></el-input>
                  </el-form-item>
                </div>
              </div>

              <!-- 审核者 -->
              <div v-show="selectedIndex === '1'"></div>

              <!-- 表单 -->
              <div v-show="selectedIndex === '2'"></div>

              <!-- 线条 -->
              <div v-show="selectedIndex === '3'"></div>
            </div>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//流程start
import BpmnModeler from 'bpmn-js/lib/Modeler'
import propertiesPanelModule from 'bpmn-js-properties-panel'
import propertiesProviderModule from 'bpmn-js-properties-panel/lib/provider/camunda'
import propertiesProvider from 'bpmn-js-properties-panel/lib/provider/bpmn'
import 'bpmn-js/dist/assets/diagram-js.css'
import 'bpmn-js/dist/assets/bpmn-font/css/bpmn.css'
import 'bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css'
import 'bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css'
import 'bpmn-js-properties-panel/dist/assets/bpmn-js-properties-panel.css'
import { checkArrayString } from '../../utils'
//流程end

export default {
  name: 'flowEdit',
  data() {
    return {
      //初始化流程图
      initDiagram: `
      <?xml version="1.0" encoding="UTF-8"?>
<bpmn:definitions xmlns:activiti="http://activiti.org/bpmn" xmlns:omgdc="http://www.omg.org/spec/DD/20100524/DC" xmlns:omgdi="http://www.omg.org/spec/DD/20100524/DI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bpmn="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI" xmlns:dc="http://www.omg.org/spec/DD/20100524/DC" xmlns:di="http://www.omg.org/spec/DD/20100524/DI" id="Definitions_1ktvxzf" targetNamespace="http://bpmn.io/schema/bpmn">
  <bpmn:process id="Process_1" isClosed="false" isExecutable="true" processType="None">
    <bpmn:startEvent id="StartEvent_1" name="开始"/>
  </bpmn:process>
  <bpmndi:BPMNDiagram id="BPMNDiagram_1">
    <bpmndi:BPMNPlane id="BPMNPlane_1" bpmnElement="Process_1">
      <bpmndi:BPMNShape id="_BPMNShape_StartEvent_2" bpmnElement="StartEvent_1">
        <dc:Bounds x="173" y="102" width="36" height="36" />
      </bpmndi:BPMNShape>
    </bpmndi:BPMNPlane>
  </bpmndi:BPMNDiagram>
</bpmn:definitions>
`,
      //焦点
      selectedIndex: '0',

      //选项卡
      tabs: [
        { label: '常规', value: '0', show: false },
        { label: '审核者', value: '1', show: false },
        { label: '表单权限判断', value: '2', show: false },
        { label: '线条', value: '3', show: false }
      ],

      ///重要循环的判断
      //获取当前点击的节点id
      dataType: 'StartEvent_1',
      //提交给后台的对象
      data: {
        nodeBaseInfos: []
      },

      //节点类型
      nodeTypeList: this.$PublicEnumeration.nodeTypeList,

      //类型判断 判断点击了线条还是方块
      elementType: ''
    }
  },

  // 自定义表单不能写在create 得等DOM 流程图渲染好了再 初始化数据
  // 自定义表单不能写在create 得等DOM 流程图渲染好了再 初始化数据
  // 自定义表单不能写在create 得等DOM 流程图渲染好了再 初始化数据
  mounted() {
    // 获取到属性ref为“content”的dom节点
    this.container = this.$refs.content
    // 获取到属性ref为“canvas”的dom节点
    const canvas = this.$refs.canvas
    // 建模，官方文档这里讲的很详细
    this.bpmnModeler = new BpmnModeler({
      container: canvas,
      // 添加控制板
      propertiesPanel: {
        parent: '#js-properties-panel'
      },
      additionalModules: [
        //左边的工具栏
        propertiesProvider,
        //右边的工具栏
        propertiesPanelModule
      ]
    })
    this.importDiagram(this.initDiagram)
    console.log(this.data.nodeBaseInfos)
  },
  methods: {
    //渲染流程
    importDiagram(xml, then) {
      const _self = this
      // 将字符串转换成图显示出来
      this.bpmnModeler.importXML(xml, function(err) {})
      const eventBus = this.bpmnModeler.get('eventBus')

      //点击流程里的元素事件
      eventBus.on('element.click', evt => {
        _self.elementType = evt.element.type
        console.log(_self.elementType)
        _self.eventBusElement(evt)
        _self.hideTab(evt.element.type)
      })

      //点击线条
      eventBus.on('element.changed', evt => {
        _self.data.nodeBaseInfos.forEach(item => {
          if (item.isBack) {
            _self.isBackArray(item.isBack, item.nodeId)
          }
        })
      })

      //新增四角形的事件
      eventBus.on('connection.added', evt => {
        _self.eventBusElement(evt, _self.resetId())
        _self.publicAddNodeClick(evt)
      })

      //点击节点的创建事件
      eventBus.on('shape.added', evt => {
        //再次点击线条的ID会多加 _label  导致ID判断错误 data.nodeBaseInfos 继续新增对象;
        if (!evt.element.id.includes('_label')) {
          _self.eventBusElement(evt)
        }
        _self.publicAddNodeClick(evt)
      })

      //点击四角形节点的删除事件
      // eventBus.on('connection.removed', function(evt) {
      //   _self.deleteBusElement(evt)
      // })

      //点击节点的删除事件
      eventBus.on('shape.removed', evt => _self.deleteBusElement(evt))
      if (then) then()
    },

    // 根据点击模板  显示隐藏右侧表单
    hideTab(value) {
      let index = []
      this.selectedIndex = '0'
      switch (value) {
        //线条
        case 'bpmn:SequenceFlow':
          index = [0, 3]
          break
        //四角形
        case 'bpmn:Task':
          index = [0, 1, 2]
          break
        default:
          index = [0]
          break
      }
      //把tabs 全隐藏了
      this.tabs.forEach(tab => {
        tab.show = false
      })

      //展示对应的tabs
      index.forEach(i => {
        this.tabs[i].show = true
      })

      //根据需求。每次点击保存该节点的tabs 的焦点   每次点击该节点的时候能对应展示
      const i = checkArrayString(
        this.data.nodeBaseInfos,
        'nodeId',
        this.dataType
      )

      this.selectedIndex =
        i != -1 && this.data.nodeBaseInfos[i].selectedIndex
          ? this.data.nodeBaseInfos[i].selectedIndex
          : this.selectedIndex
    },

    //点击了各节点。判断是否新增元素或者是保持不动
    eventBusElement(value, then) {
      this.dataType = value.element.id
      try {
        //判断流程里没有元素
        const index = checkArrayString(
          this.data.nodeBaseInfos,
          'nodeId',
          value.element.id
        )
        //不相同的则新增对象。继续输入属性
        if (index === -1) {
          const nodeBase = {
            isParallel: true,
            lineConditionDetails: [],
            fromConditions: [],
            chooseAuditors: [],
            name: value.element.businessObject.name,
            dataType: value.element.id,
            nodeId: value.element.id
          }
          this.data.nodeBaseInfos.push(nodeBase)
        }
      } catch (error) {
        throw new Error('传入的类型错误')
      }
      if (then) then()
    },

    //如果选了驳回。该线条变成红色
    isBackArray(v, id) {
      const g = document.getElementsByTagName('g')
      for (let i = 0; i < g.length; i++) {
        if (g[i].getAttribute('data-element-id') == id) {
          g[i].getElementsByTagName('path')[0].style.stroke =
            v == true ? 'red' : '#000'
          break
        }
      }
    },

    //重置 ID
    resetId() {
      setTimeout(() => {
        const g = document.getElementsByTagName('g')
        for (let i = 0; i < g.length; i++) {
          if (g[i].classList.contains('selected')) {
            this.dataType = g[i].getAttribute('data-element-id')
            break
          }
        }
      }, 50)
    },

    //tabs 的change 事件 找到对应的节点  替换里面的下标
    tabsChange() {
      this.data.nodeBaseInfos[
        checkArrayString(this.data.nodeBaseInfos, 'nodeId', this.dataType)
      ]['selectedIndex'] = this.selectedIndex
    },
    //移除属性
    deleteBusElement(evt) {
      this.data.nodeBaseInfos.splice(
        checkArrayString(this.data.nodeBaseInfos, 'nodeId', evt.element.id),
        1
      )
    },
    //通用node 点击操作
    publicAddNodeClick(evt) {
      //重要提示：创建新模块会是这样子的流程   比如  创建四角形才创建线条模块
      //重要提示：创建新模块会是这样子的流程   比如  创建四角形才创建线条模块
      //重要提示：创建新模块会是这样子的流程   比如  创建四角形才创建线条模块
      //目前仅保留3个节点判断 分别是开始节点  方块节点  结束节点
      const nodeList = ['bpmn:StartEvent', 'bpmn:Task', 'bpmn:EndEvent']
      if (checkArrayString(nodeList, '', evt.element.type) != -1) {
        this.hideTab(evt.element.type)
        this.elementType = evt.element.type
      }
    }
  }
}
</script>

