<template>
  <div class="upload-continer">
    <div class="upload-box">
      <!-- <p>文件上传</p> -->
      <el-upload
      :disabled="disabled"
        class="upload-content"
        :action="uploadURl"
        multiple
        :data="upLoadParams.params"
        :on-preview="handlePreview"
        :before-remove="handleRemove"
        :on-success="successedFn"
        :accept="acceptList"
        :before-upload="beforeUpload"
        :on-error="uploadFail"
        :on-exceed="exceedFn"
        :file-list="fileListData"
        :limit="upLoadParams.fileMaxNum"
        :class="{'hideDelbtn':hideDelBtn}"
        :headers="headers"
      >
        <el-button size="small" type="primary" v-if="!loading&&!hideUploadBtn" :disabled="disabled">
          点击上传
          <i class="el-icon-upload el-icon--right"></i>
        </el-button>
        <el-button
          size="small"
          type="primary"
          v-if="loading&&!hideUploadBtn"
          :loading="loading"
          @click="unclick($event)"
        >上传中...</el-button>
      </el-upload>
    </div>
    <div
      class="el-upload__tip"
      v-if="!hideUploadBtn"
    >上传文件格式为{{fileTypeText}}文件，且不超过{{uploadFileSize}}MB</div>
    <div></div>
    <el-dialog
      :visible.sync="dialogVisible"
      title="图片预览"
      modal-append-to-body
      append-to-body
      size="tiny"
    >
      <img width="100%" :src="dialogImageUrl" alt />
    </el-dialog>
  </div>
</template>
<script>

//自定义表单的上传组件  拆开来用。防止以后二次修改
import { setTimeout } from "timers";
import { filterFileIcon } from "@/utils";
import service from "@/utils/request";

export default {
  name: "uploadCustomerForm",
  props: ["upLoadParams", "fileListData","uploadURlData","disabled"],
  data() {
    return {
      headers: { Authorization: "Bearer " + this.$store.getters.token },
      IsImgRegexs: /\jpg$|\jpeg$|\png$|\gif$|\tiff$|\bmp$/i, // 正则验证是否是图片
      // uploadURl: process.env.VUE_APP_SERVE_URL + 'api/services/app/CommonFile/UploadFileCommon', // 上传文件URL
      uploadURl: process.env.VUE_APP_UPLOADFILE_URL+'api/services/app/CommonFile/UploadFileCommon', // 上传文件URL
      dialogImageUrl: "", //大图
      dialogVisible: false, // 显示大图弹窗
      fileList: [], // 文件列表
      fileTypeText: "图片", //提示
      acceptList: ".jpg,.png,.jpeg,.doc, .docx,.bmp, .xls, .xlsx", // 可以上传的文件类型
      showFileList: false,
      loading: false,
      checkedCities: [],
      checkAll: false,
      guidList: null,
      isIndeterminate: true,
      checkedGuids: [], // 当前选中的数据guidList
      guids: this.guidList,
      delIsTrue: false, // 是否需要真实删除
      fileTypeParams: this.upLoadParams.uploadFileType,
      hideDelBtn: this.upLoadParams.btnType
        ? this.upLoadParams.btnType.hideDleBtn
        : false,
      hideUploadBtn: this.upLoadParams.btnType
        ? this.upLoadParams.btnType.hideUploadBtn
        : false,
      hideDowloadBtn: this.upLoadParams.btnType
        ? this.upLoadParams.btnType.hideDowloadBtn
        : false,
      curUplaodFileList: [] // 当前上传成功的文件list
    };
  },
  methods: {
    unclick(e) {
      e.stopPropagation();
    },
    // 全选
    handleCheckAllChange(val) {
      console.log(this.guidList);
      this.checkedGuids = val ? this.guidList : [];
      this.isIndeterminate = false;
    },
    handleCheckedCitiesChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.guids.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.guids.length;
    },
    // 调用删除成功之后处理文件list
    delSuccessCreatFileList(params, guids) {
      // 文件list
      let fileList = this.fileList;
      // guids当前要删除的文件gius
      if (typeof guids === "string") {
        guids = guids.split();
      }
      // 如果不是真是删除直接处理数据然后return,不调用删除接口
      if (!this.delIsTrue) {
        // 删除处理
        this.delFileFn(fileList, guids);
        return;
      }
      const config = { async: false }; // 同步处理删除
      let ApiURL = "/api/services/app/CommonFile/MoveFileCommon";
      service
        .post(params, config)
        .then(response => {
          // 删除处理
          this.delFileFn(fileList, guids);
        })
        .catch(error => {
          console.log(error);
          this.$message({
            type: "error",
            message: error.data.msg
          });
        });
    },
    // 处理删除
    delFileFn(fileList, guids) {
      fileList = this.filterFielListFn(fileList, guids);
      this.fileList = fileList;
      this.createdGuidListFn(fileList);
      this.$emit("fileListCallback", fileList);
      this.$message({
        type: "success",
        message: "删除成功!"
      });
    },
    // 过滤掉删除的数据
    filterFielListFn(fileList, guids) {
      fileList = fileList.filter(item => {
        let arrList;
        if (guids.length > 1) {
          arrList = guids.map(v => v);
        } else {
          arrList = guids;
        }
        return !arrList.includes(
          item.guid ? item.guid : item.response.result.guid
        );
      });
      return fileList;
    },
    // 删除
    deletFileFn(e, guid, fileLists) {
      if (e) {
        e.stopPropagation();
      }
      if (this.checkedGuids.length == 0 && !guid) return;
      let fileList = fileLists ? fileLists : this.fileList;
      this.fileList = fileList;
      let params = {
        delGuids: ""
      };
      //单个删除处理
      if (guid) {
        params.delGuids = guid + ",";
        this.delSuccessCreatFileList(params, guid);
      } else {
        params.delGuids = this.checkedGuids.join(",");
        let tipsText = this.delIsTrue
          ? "此操作将永久删除文件, 是否继续?"
          : "是否删除选中的这些文件？";
        this.$confirm(tipsText, "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            this.delSuccessCreatFileList(params, this.checkedGuids);
          })
          .catch(() => {});
      }
    },
    // 下载
    dowloadFileFn(e) {
      e.stopPropagation();
      console.log(this.checkedGuids);
      if (this.checkedGuids.length == 0) return;
      // let singleDownload = this.$baseURL + '/PSSUpLoadV2/DownLoadFileByGuids?downGuids=' + this.checkedGuids.join(',');
      // let moreDownload = this.$baseURL + '/PSSUpLoadV2/DownLoadFile?downGuids=' + this.checkedGuids.join(',');
      // let moreDownload = this.$baseURL + '/PSSUpLoadV2/DownLoadFileV2?downGuids=' + this.checkedGuids.join(',');

      // 暂时只支持单个文件下载
      if (this.checkedGuids.length > 1) {
        this.$message.success(
          "目前暂时只支持单个文件下载，请单独选择需要下载的文件！"
        );
        return;
      }
      // 如果是多个循环下载
      this.fileList.forEach(item => {
        this.checkedGuids.map(data => {
          let ApiURL;
          if (item.response) {
            if (item.response.result.guid == data) {
              ApiURL =
                "FileName=" +
                item.response.result.fileName +
                "&FileType=" +
                item.response.result.fileType +
                "&FileToken=" +
                item.response.result.guid +
                "&FilePath=" +
                item.response.result.filePath;
              this.downloadTempFileFn(ApiURL);
            }
          } else {
            if (item.guid == data) {
              ApiURL =
                "FileName=" +
                item.fileName +
                "&FileType=" +
                item.fileType +
                "&FileToken=" +
                item.guid +
                "&FilePath=" +
                item.filePath;
              this.downloadTempFileFn(ApiURL);
            }
          }
        });
      });
      return;
      if (this.checkedGuids.length == 1) {
        window.open(singleDownload);
      } else if (this.checkedGuids.length > 1) {
        window.open(moreDownload);
      }
      const that = this;
      setTimeout(function() {
        that.$message.success("下载成功！");
      }, 1000);
    },
    downloadTempFileFn(params) {
      // console.log(params);
      // service.get(params).then(result=>{
      //   console.log(result);
      //   that.$message.success('下载成功！');
      // });
      window.open(
        process.env.VUE_APP_UPLOADFILE_URL +
          "api/TokenAuth/DownloadTempFile?" +
          params
      );
      const that = this;
      setTimeout(function() {
        that.$message.success("下载成功！");
      }, 1000);
    },
    // 点击文件列表中已上传的文件时的钩子
    handlePreview(file) {
       window.open(file.url)
    },
    // 文件列表移除文件时的钩子
    handleRemove(file, fileList) {
      if (file.response || file.guid) {
        this.deletFileFn(
          null,
          file.guid ? file.guid : file.response.result.guid,
          fileList
        );
      }
    },
    // 处理文件列表中的Guid
    createdGuidListFn(fileList) {
      if (fileList) {
        let guidList = [];
        for (let item of fileList) {
          if (item.response) {
            guidList.push(item.response.result.guid);
          } else {
            if (item.guid) {
              guidList.push(item.guid);
            }
          }
        }
        this.guidList = guidList;
      } else {
        this.guidList = [];
        // this.fileList = [];
      }
      // console.log(this.guidList);
    },
    // 文件上传成功时的钩子
    successedFn(response, file, fileList) {
      console.log(fileList);
      if (response.success) {
        this.$message.success("上传成功！");
        file.url =
          process.env.VUE_APP_UPLOADFILE_URL +
          "FileUploadFolder/" +
          file.response.result.filePath;
        this.fileList = fileList;
        this.createdGuidListFn(fileList);
        this.showFileList = true;
        // 处理如果不是图片，缩略图改成相对应的图片
        let fileType = this.fileTypeFn(file);
        if (fileType && !this.IsImgRegexs.test(fileType)) {
          switch (fileType) {
            case "docx" || "doc":
              fileType = "doc";
              break;
            case "xlsx" || "xls":
              fileType = "xls";
              break;
          }
        }
        // 当前上传成功的文件list
        this.curUplaodFileList.push(response.result);
        console.log(JSON.stringify(this.curUplaodFileList));
        console.log(fileList);
        this.$emit("fileListCallback", fileList);
      } else {
        this.$message.error("上传失败");
      }
      this.loading = false;
    },
    // 通过name截取文件类型
    fileTypeFn(file) {
      return file.raw.name.split(".")[1]
        ? file.raw.name.split(".")[1]
        : file.raw.name;
    },
    // 上传前判断类型处理
    beforeUpload(file) {
      if (file.name.indexOf("+") != -1) {
        this.$message({
          message: "不能有+号等特殊字符",
          type: "error"
        });
        return false;
      }
      // 上传前判断类型，大小
      const fileType = file.name.split(".")[1]
        ? file.name.split(".")[1]
        : file.name;
      const fileMaxSize = file.size / 1024 / 1024 < this.uploadFileSize;
      if (this.upLoadParams.uploadFileType == "IMG") {
        // 图片类型
        const isImg = this.IsImgRegexs.test(fileType);
        if (!isImg) {
          this.$message.error(
            "图片格式错误，请重新选择; 仅支持JPG，JPEG，PNG，GIF，TIFF，BMP等格式！"
          );
        }
        if (!fileMaxSize) {
          this.$message.error(
            "图片大小不能超过" + this.uploadFileSize + "MB！"
          );
        }
        if (isImg && fileMaxSize) {
          this.loading = true;
        }
        return isImg && fileMaxSize;
      } else {
        if (this.upLoadParams.uploadFileType) {
          if (!this.checkUploadType(this.upLoadParams.uploadFileType, file)) {
            return false;
          }
        }
        // 文件类型
        if (!fileMaxSize) {
          this.$message.error(
            "文件大小不能超过" + this.uploadFileSize + "MB！"
          );
        }
        if (fileMaxSize) {
          this.loading = true;
        }
        return fileMaxSize;
      }
    },
    // 文件上传失败时的钩子
    uploadFail(err, file, fileList) {
      this.$message.error("上传失败");
    },
    // 文件超出个数限制时的钩子
    exceedFn(files, fileList) {
      this.$message.error(
        "文件最多可以上传" + this.upLoadParams.fileMaxNum + "个！"
      );
    },
    // 上传文件类型判断
    checkUploadType(fileTypeParams, file) {
      let reg, errorMsg;
      // 个人证件
      if (fileTypeParams.type == 1) {
        // 劳务人员ID号_劳务人员姓名_证书类型.jpg(如：PM1112_张三_证件照_01.jpg)
        reg = /^PM\d{6}_[\u4e00-\u9fa5]{2,9}_证件照_\d{1,2}(.jpg|.JPG|.jpeg|.JPEG|.png|.PNG|.gif|.GIF|.bmp|.BMP)$/;
        errorMsg = "上传失败！格式标准：PM123456_张三_证件照_01.jpg";
      }
      // 证书
      if (fileTypeParams.type == 3) {
        // 学历
        if (fileTypeParams.secondStage == 1) {
          // 劳务人员ID号_劳务人员姓名_证书类型.jpg(如：PM1112_张三_学历.jpg)
          reg = /^PM\d{6}_[\u4e00-\u9fa5]{2,9}_学历(.jpg|.JPG|.jpeg|.JPEG|.png|.PNG|.gif|.GIF|.bmp|.BMP)$/;
          errorMsg = "上传失败！格式标准：PM123456_张三_学历.jpg";
        }
        // 技能
        if (fileTypeParams.secondStage == 2) {
          // 劳务人员ID号_劳务人员姓名_证书类型.jpg(如：PM1112_张三_技能.jpg)
          reg = /^PM\d{6}_[\u4e00-\u9fa5]{2,9}_技能(.jpg|.JPG|.jpeg|.JPEG|.png|.PNG|.gif|.GIF|.bmp|.BMP)$/;
          errorMsg = "上传失败！格式标准：PM123456_张三_技能.jpg";
        }
        // 职称
        if (fileTypeParams.secondStage == 3) {
          // 劳务人员ID号_劳务人员姓名_证书类型.jpg(如：PM1112_张三_职称.jpg)
          reg = /^PM\d{6}_[\u4e00-\u9fa5]{2,9}_职称(.jpg|.JPG|.jpeg|.JPEG|.png|.PNG|.gif|.GIF|.bmp|.BMP)$/;
          errorMsg = "上传失败！格式标准：PM123456_张三_职称.jpg";
        }
        // 其他
        if (fileTypeParams.secondStage == 4) {
          // 劳务人员ID号_劳务人员姓名_证书类型.jpg(如：PM1112_张三_其他.jpg)
          reg = /^PM\d{6}_[\u4e00-\u9fa5]{2,9}_其他(.jpg|.JPG|.jpeg|.JPEG|.png|.PNG|.gif|.GIF|.bmp|.BMP)$/;
          errorMsg = "上传失败！格式标准：PM123456_张三_其他.jpg";
        }
      }
      let result = reg.test(file.name);
      if (!result) {
        this.$message.error(errorMsg);
      }
      return result;
    }
  },
  created() {
    if (this.upLoadParams.uploadFileType == "IMG") {
      this.uploadFileSize = 5;
      this.fileTypeText = "图片";
    } else {
      this.fileTypeText = "";
      this.uploadFileSize = 10;
    }
    this.delIsTrue = this.upLoadParams.DelIsTrue;
    this.fileList = this.fileListData || [];
    this.uploadURl = this.uploadURlData?this.uploadURlData:this.uploadURl;
    // this.fileList.forEach(item => {
    //   // item.url = filterFileIcon(item.url)
    //   item.url = filterFileIcon(
    //     process.env.VUE_APP_UPLOADFILE_URL +
    //       "/FileUploadFolder/" +
    //       item.filePath
    //   );
    // });
    console.log(this.fileList)
    this.createdGuidListFn(this.fileList);
  },
  watch: {
    guidList() {
      this.guids = this.guidList;
    },
    fileListData(data) {
      this.fileList = data || [];
      this.fileList.forEach(item => {
        item.url = filterFileIcon(item.url);
      });
      this.createdGuidListFn(this.fileList);
    }
  }
};
</script>
<style scoped>
.el-checkbox-group .el-checkbox__label {
  opacity: 0;
}
.el-dialog__title {
  color: #000 !important;
}

.el-dialog__wrapper,
.v-modal {
  position: fixed;
  top: 0;
  left: 0;
}

.el-dialog__title {
  color: #f5f7fa;
}

.hideDelbtn .el-upload-list__item .el-icon-close {
  display: none !important;
}

.checkbox-group .el-checkbox__label {
  font-size: 0;
}

.checkbox-group {
  width: 100%;
  height: 92px;
  text-align: center;
  line-height: 92px;
  margin-top: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
}
 

.checkbox-all {
  margin-top: 7px;
}


.el-dialog {
  width: 35%;
}

.el-upload-list--picture .el-upload-list__item:hover {
  border: 2px solid #11b95c;
  box-shadow: 14px 15px 10px -8px #868686;
}
</style>
