<template>
  <div class="padding20 bgfff">
    <el-input :placeholder="inputPlaceholder" v-model="filterText"
      class="marginBottom30 width10">
    </el-input>

    <el-tree 
    class="filter-tree" 
    @node-click="nodeClick" 
    :data="data" :node-key="defaultProps.value" 
    :props="defaultProps" 
    default-expand-all 
    :filter-node-method="filterNode"
    :expand-on-click-node="false"
            :check-on-click-node="true"
      ref="tree">
    </el-tree>
  </div>
</template>

<script>
  import service from '@/utils/request'
  import {
    checkArray,
    checkArrayString
  } from "@/utils/index"
  export default {
    name: "publicTree",
    components: {

    },
    data() {
      return {
        loading: false,
        filterText: '',
        data: [],
      }
    },
    watch: {
      filterText(val) {
        this.$refs.tree.filter(val);
      }
    },
    props: {
      inputPlaceholder: {
        type: String,
        default: '请输入搜索的关键字',
      },

      serviceTree:{
        type: Object,
        default: () => {
          return {
            url: '',
            type: 'post',
            data:{},
          }
        }
      },
      defaultProps: {
        type: Object,
        default: () => {
          return {
            children: 'children',
            label: 'label',
            value:'id',
          }
        }

      }
    },
    created(){
      if(this.serviceTree&&this.serviceTree.url){
        this.getTree()
      }
    },
    methods: {
      getTree(){
        this.loading = true
        service[this.serviceTree.type](this.serviceTree.url,this.serviceTree.data).then(data=>{
          this.loading = false;
          this.data = checkArray(data)?data:data.children
        })
      },

      //过滤
      filterNode(value, data) {
        if (!value) return true;
        return data[this.defaultProps.label].indexOf(value) !== -1;
      },

      //点击节点
      nodeClick(value){
        this.$emit("selectComplete", {
          //返回列表对象
          list: this.data,

          //返回当前点击对象
          currentRow: value,
        });
      }
    },
  }

</script>
