<template>
  <el-dialog
    :title="title"
    :visible="visible"
    width="520px"
    append-to-body
    :destroy-on-close="true"
    @close="close"
    :close-on-click-modal="false"
  >
    <div class="font16">
      <p v-html="message"></p>
      <!-- <slot name="message"></slot> -->
    </div>
    <div slot="footer" class="textRight">
      <el-button @click="close(false)">取消</el-button>
      <el-button type="primary" @click="clickOk()" :loading="loading">确定</el-button>
    </div>
  </el-dialog>
</template>

<script>
/**
 * 自定义弹窗的box
 */
import moment from 'moment'
import service from '@/utils/request'
import { checkArray } from '@/utils'
export default {
  name: 'customTipBox',
  components: {},
  mixins: [],
  data() {
    return {
      //loading
      loading: false
    }
  },
  props: {
    // 显示隐藏弹窗
    visible: {
      type: Boolean,
      default: false
    },

    // 标题
    title: {
      type: String,
      default: '提示'
    },

    customServeUrl: {
      type: Array,
      default() {
        return []
      }
    },

    message: {
      type: Object,
      default: () =>
        '<span><i class="el-icon-warning" style="color: #E6A23C"></i>是否修复这条流程</span>'
    }
  },
  created() {},
  methods: {
    //关闭弹窗  true刷新父级页面   false 修改父级的visible
    close(type) {
      this.$emit('close', type)
    },

    //点击确定按钮
    clickOk() {
      if (checkArray(this.customServeUrl)) {
        this.loading = true
        const list = []
        this.customServeUrl.forEach(data => {
          list.push(service[data.type](data.url, data.data))
        })
        Promise.all(eval(list)).then(data => {
          this.close(data)
          this.loading = false
        })
        return false
      }
      this.close(false)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
