<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import service from '@/utils/request'
export default {
  name: 'App',
  data() {
    return {}
  },
  async created() {},
  methods: {}
}
</script>
