<template>
  <el-dialog
    title="添加表头"
    :visible="visible"
    width="800px"
    custom-class="myDialog"
    append-to-body
    :destroy-on-close="true"
    @close="close"
    :close-on-click-modal="false"
  >
    <el-form
      :model="form"
      autocomplete="off"
      :rules="rules"
      ref="thForm"
      label-width="100px"
      class="demo-form"
    >
      <el-form-item label="中文名称" prop="fieldName">
        <el-input v-model="form.fieldName" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="组件类型" prop="controlType">
        <el-select v-model="form.controlType" placeholder="请选择组件类型">
          <el-option
            v-for="(item,index) in customFromTypeSelect"
            :key="index"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="排序" required>
        <el-input-number v-model="form.sort" controls-position="right" :min="1" placeholder="请填排序号"></el-input-number>
      </el-form-item>
    </el-form>
    <div slot="footer" class="textRight">
      <el-button @click="close(false)">取消</el-button>
      <el-button type="primary" @click="submitForm('thForm')">确定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import service from '@/utils/request'
import publicDialog from '@/extends/publicDialog'
import { checkArray } from '../../utils'
export default {
  name: 'addTh',
  components: {},
  mixins: [publicDialog],
  data() {
    return {
      customFromTypeSelect: this.$PublicEnumeration.customFromTypeSelect,
      form: {
        fieldName: '',
        controlType: '',
        sort: ''
      },
      rules: {
        fieldName: [
          {
            required: true,
            message: '这是必填项',
            trigger: 'blur'
          }
        ],
        controlType: [
          {
            required: true,
            message: '这是必填项',
            trigger: 'change'
          }
        ],
        sort: [
          {
            required: true,
            message: '这是必填项',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  props: {},
  mounted() {},
  created() {},
  methods: {
    submitForm(name) {
      this.$refs[name].validate(valid => {
        if (valid) {
          this.$emit('close', this.form)

          //关闭弹窗  清空表单
          this.$nextTick(() => {
            if (this.$refs[name]) this.$refs[name].resetFields()
          })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.el-icon-warning {
  color: #e6a23c;
}
</style>
