<template>
  <el-dialog
    title="添加表头"
    :visible="visible"
    width="800px"
    custom-class="myDialog"
    append-to-body
    :destroy-on-close="true"
    @close="close"
    :close-on-click-modal="false"
  >
    <div class="textRight marginBottom18">
      <el-button class="myButton" :disabled="multipleSelection.length == 0" @click="deleteFn">删除</el-button>
      <el-button class="myButton" @click="addFn">新增</el-button>
    </div>
    <lb-table
      @selection-change="handleSelectionChange"
      ref="myThList"
      border
      :column="tableData.column"
      :data="tableData.data"
    ></lb-table>
    <div slot="footer" class="textRight">
      <el-button @click="close(false)">取消</el-button>
      <el-button type="primary" @click="closeAddThList(true)">确定</el-button>
    </div>

    <add-th v-if="detailDialog.visible" :visible.sync="detailDialog.visible" @close="closeAddTh"></add-th>
  </el-dialog>
</template> 

<script>
import service from '@/utils/request'
import publicDialog from '@/extends/publicDialog'
import addTh from './addTh'
import LbTable from '@/components/LbTable/lb-table'
import { checkArray } from '../../utils'
export default {
  name: 'addThList',
  components: {
    addTh,
    LbTable
  },
  mixins: [publicDialog],
  data() {
    return {
      hasHeaderForm: false,

      detailDialog: {
        visible: false
      },

      tableData: {
        column: [
          {
            type: 'selection'
          },
          {
            prop: 'fieldName',
            label: '中文名称'
          },
          {
            prop: 'controlType',
            label: '组件类型'
          },
          {
            prop: 'sort',
            label: '排序'
          }
        ],
        data: []
      },

      //选中的列表
      multipleSelection: []
    }
  },
  props: {
    // 从父级获取的数据
    childrenTable: {
      default: []
    }
  },
  mounted() {
    this.tableData.data = this.childrenTable
  },
  created() {},
  methods: {
    //展示弹窗
    addFn() {
      this.detailDialog.visible = true
    },
    //关闭弹窗
    closeAddTh(value) {
      if (value) {
        this.tableData.data.push(value)
      }
      this.detailDialog.visible = false
    },

    //点击选中
    handleSelectionChange(value) {
      this.multipleSelection = value
    },

    //删除
    deleteFn() {
      this.tableData.data = this.tableData.data.filter(
        item => !this.multipleSelection.some(e => e === item)
      )
    },

    closeAddThList() {
      const arr = checkArray(this.tableData.data) ? this.tableData.data : false
      this.$emit('close', arr)
    }
  }
}
</script>

<style lang="scss" scoped>
.el-icon-warning {
  color: #e6a23c;
}
</style>
