﻿<template>
  <div id="app">
    <el-row :gutter="20">
      <el-col :span="6">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>卡片名称</span>
          </div>
          <div id="left">
            <el-button
              class="myButton"
              :controlType="item.controlType"
              v-for="(item, index) in left"
              :key="index"
            >{{item.controlName}}</el-button>
          </div>
        </el-card>
      </el-col>
      <el-col :span="12">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>表单设计--拖拽到外面则删除</span>
          </div>
          <el-form ref="form" label-width="150px" class="customer-form">
            <div id="right">
              <template v-for="(item, index) in right.createtOrUpdateFrow_TemplateInfos">
                <el-form-item
                  onclick="onBlur(this)"
                  :myIndex="index"
                  :label="item.editFrow_TemplateInfo_ColumDto.fieldName"
                  :class="{blur:item.blur,noLabel: item.editFrow_TemplateInfo_ColumDto.controlType == 'partitionLine' || item.editFrow_TemplateInfo_ColumDto.controlType == 'table'}"
                  :prop="item.editFrow_TemplateInfo_ColumDto.fieldName"
                  :myCol="item.editFrow_TemplateInfo_ColumDto.rowScale"
                  :key="index"
                >
                  <el-input
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'text'"
                    v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                    :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
                    :placeholder="item.editFrow_TemplateInfo_ColumDto.placeholder"
                  ></el-input>

                  <el-input
                    type="textarea"
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'textarea'"
                    v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                    :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
                    :placeholder="item.editFrow_TemplateInfo_ColumDto.placeholder"
                    :autosize="{ minRows: 2}"
                  ></el-input>

                  <tinymce
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'ueditor'"
                    class="tinymce"
                    :class="{customerPointerf5f5f5:!item.editFrow_TemplateInfo_ColumDto.isWrite}"
                    v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                    menubar="false"
                    :height="360"
                  />

                  <el-select
                    v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                    placeholder="item.editFrow_TemplateInfo_ColumDto.placeholder"
                    class="select width10"
                    :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'select'"
                  >
                    <el-option
                      v-for="box in item.controlSourceDatas"
                      :key="box.value"
                      :label="box.value"
                      :value="box.value"
                    ></el-option>
                  </el-select>

                  <el-input-number
                    :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
                    v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                    controls-position="right"
                    :min="1"
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'inputNumber'"
                  ></el-input-number>

                  <el-date-picker
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'datePicker'"
                    v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                    type="date"
                    :placeholder="item.editFrow_TemplateInfo_ColumDto.placeholder"
                  ></el-date-picker>

                  <el-radio-group
                    class="cobyRadio"
                    v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'radio'"
                  >
                    <el-radio
                      :label="box.value"
                      v-for="box in item.controlSourceDatas"
                      :key="box.value"
                    >{{box.value}}</el-radio>
                  </el-radio-group>

                  <div
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'checkbox'"
                    :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
                  >
                    <el-checkbox
                      v-for="(box,index) in item.controlSourceDatas"
                      :key="index"
                      :label="box.label"
                    ></el-checkbox>
                  </div>

                  <el-divider
                    :content-position="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'partitionLine'"
                  >{{item.editFrow_TemplateInfo_ColumDto.fieldName}}</el-divider>

                  <el-cascader
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'cityCountyAndDistrict'"
                    :disabled="!item.editFrow_TemplateInfo_ColumDto.isWrite"
                    v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                    :placeholder="item.editFrow_TemplateInfo_ColumDto.placeholder"
                    :options="positionEnum"
                    :props="{ checkStrictly: true }"
                    popper-class="myCascader"
                  ></el-cascader>

                  <el-button
                    v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'table'"
                    class="myButton"
                  >表格项</el-button>
                </el-form-item>
              </template>
            </div>
          </el-form>
        </el-card>
      </el-col>
      <el-col :span="6">
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>自定义属性</span>
          </div>

          <el-form ref="attributeForm" :model="attributeForm" label-width="100px">
            <template v-for="(item, index) in right.createtOrUpdateFrow_TemplateInfos">
              <div v-if="item.blur" :key="index">
                <!-- 属性 -->
                <!-- item.blur 是只修改当前点击组件的属性-->
                <el-form-item label="占比">
                  <el-select
                    style="width:100%"
                    v-model="item.editFrow_TemplateInfo_ColumDto.rowScale"
                    placeholder="请选择占比"
                    readonly
                  >
                    <el-option
                      v-for="(item, i) in rowScale"
                      :key="i"
                      :label="item.label "
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </el-form-item>

                <el-form-item label="标题头">
                  <el-input
                    v-model="item.editFrow_TemplateInfo_ColumDto.fieldName"
                    placeholder="请输入标题头"
                  ></el-input>
                </el-form-item>

                <el-form-item
                  label="操作"
                  v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'table'"
                >
                  <el-button type="primary" @click="addTh(item)">添加表头</el-button>
                </el-form-item>

                <el-form-item
                  label="文字方向"
                  v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'partitionLine'"
                >
                  <el-select
                    style="width:100%"
                    v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                    placeholder="请选择方向"
                    readonly
                  >
                    <el-option
                      v-for="(item, i) in orientation"
                      :key="i"
                      :label="item.label "
                      :value="item.value"
                    ></el-option>
                  </el-select>
                </el-form-item>

                <div
                  v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'text'||item.editFrow_TemplateInfo_ColumDto.controlType == 'textarea'"
                >
                  <el-form-item label="默认值">
                    <el-input
                      v-model="item.editFrow_TemplateInfo_ColumDto.defaultValue"
                      placeholder="请输入默认值"
                    ></el-input>
                  </el-form-item>

                  <el-form-item label="文本提示语">
                    <el-input
                      v-model="item.editFrow_TemplateInfo_ColumDto.placeholder"
                      placeholder="请输入内容"
                    ></el-input>
                  </el-form-item>
                </div>

                <div
                  v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'radio' || item.editFrow_TemplateInfo_ColumDto.controlType=='select' || item.editFrow_TemplateInfo_ColumDto.controlType == 'checkbox'"
                >
                  <el-form-item
                    :label="'选项'+(index+1)"
                    v-for="(box, index) in item.controlSourceDatas"
                    :key="index"
                  >
                    <div class="flexBox">
                      <div class="flex1">
                        <el-input
                          v-model="box.label"
                          v-if="item.editFrow_TemplateInfo_ColumDto.controlType == 'checkbox'"
                          placeholder="请输入默认值"
                        ></el-input>
                        <el-input v-model="box.value" v-else placeholder="请输入默认值"></el-input>
                      </div>
                      <div class="flexContent">
                        <i class="el-icon-plus pointer" @click="addOptions(item)"></i>
                      </div>
                      <div
                        class="flexContent"
                        :class="{pointerf5f5f5:item.controlSourceDatas.length<=1}"
                      >
                        <i class="el-icon-minus pointer" @click="removeOptions(item,index)"></i>
                      </div>
                    </div>
                  </el-form-item>
                </div>
              </div>
              <!-- 属性 -->
            </template>
          </el-form>
        </el-card>
      </el-col>
    </el-row>

    <add-th-list
      :childrenTable.sync="addThDialog.childrenTable"
      v-if="addThDialog.visible"
      @close="close"
      :visible.sync="addThDialog.visible"
    ></add-th-list>
  </div>
</template>

<script>
import dragula from 'dragula'
import tinymce from '@/components/Tinymce/index'
import addThList from './addThList'
import LbTable from '@/components/LbTable/lb-table'
import { checkArrayString, checkArray } from '@/utils/index'
export default {
  name: 'customForm',
  components: {
    tinymce,
    addThList,
    LbTable
  },
  data() {
    return {
      //当前选中的数组角标
      index: null,

      //属性的表单
      attributeForm: {},

      column: [
        {
          type: 'selection'
        },
        {
          prop: 'fieldName',
          label: '中文名称'
        },
        {
          prop: 'controlType',
          label: '组件类型'
        },
        {
          prop: 'sort',
          label: '排序'
        }
      ],

      //市县区的编码
      positionEnum: this.$PublicEnumeration.positionEnum,

      //占比类型
      rowScale: [
        { label: '1', value: '1' },
        { label: '1/2', value: '2' },
        { label: '1/3', value: '3' },
        { label: '1/4', value: '4' }
      ],

      orientation: [
        { label: '居中', value: 'center' },
        { label: '靠左', value: 'left' },
        { label: '靠右', value: 'right' }
      ],

      //左侧菜单的属性
      left: [
        {
          controlType: 'text',
          controlName: '单行输入',
          dataType: 'string',
          iconfont: 'iconmark_I'
        },
        {
          controlType: 'textarea',
          controlName: '多行输入',
          dataType: 'string',
          iconfont: 'iconmark_I'
        },
        {
          controlType: 'ueditor',
          controlName: '富文本',
          iconfont: 'iconmark_I'
        },
        {
          controlType: 'select',
          controlName: '下拉框',
          dataType: 'string',
          iconfont: 'icon20180209_sanjiao2'
        },
        {
          controlType: 'table',
          controlName: '表格项',
          iconfont: 'iconbiaoge',
          noLabel: true
        },
        {
          controlType: 'datePicker',
          controlName: '日期框',
          dataType: 'datetime',
          iconfont: 'iconriqi'
        },
        {
          controlType: 'inputNumber',
          controlName: '数字输',
          dataType: 'int',
          iconfont: 'iconshangxiala'
        },
        {
          controlType: 'radio',
          controlName: '单选框',
          dataType: 'string',
          iconfont: 'iconiconfontoptionbutton'
        },
        {
          controlType: 'checkbox',
          controlName: '多选框',
          dataType: 'string',
          iconfont: 'iconxuanze'
        },
        {
          controlType: 'partitionLine',
          controlName: '分割线',
          dataType: 'string',
          iconfont: 'iconxian',
          noLabel: true
        },
        {
          controlType: 'cityCountyAndDistrict',
          controlName: '选择市县区',
          dataType: 'string',
          iconfont: 'iconquyu'
        }
      ],
      right: {
        createtOrUpdateFrow_TemplateInfos: []
      },

      // 新增表头的弹窗
      addThDialog: {
        visible: false,
        childrenTable: []
      }
    }
  },
  created() {
    window.onBlur = this.onBlur
  },
  mounted() {
    const _slef = this
    dragula(
      [document.getElementById('left'), document.getElementById('right')],
      {
        removeOnSpill: true,
        copy: function(el, source) {
          return source === document.getElementById('left')
        },
        accepts: function(el, target) {
          return target !== document.getElementById('left')
        }
      }
    ).on('dragend', function(el) {
      //没有找到是否拖拽完成的事件。拿这个来做判断
      const type = el.className.includes('gu-hide')
      if (!type) {
        const item =
          _slef.left[
            checkArrayString(
              _slef.left,
              'controlType',
              el.getAttribute('controlType')
            )
          ]
        //只是拖拽自身的组件而已
        if (!item) {
          return false
        }
        const type = item.controlType

        //设置组件的数组数据  类似radio checkbox select
        const controlSourceDatas = []

        //设置默认值start
        const value = {
          //设置标题
          fieldName: item.controlName,

          //设置类型
          controlType: type,

          //设置必填
          isNull: false,

          //设置占比 用string 类型是因为默认值只认string 方便
          rowScale: '1',

          //设置可填
          isWrite: true,

          //默认值
          defaultValue: null,

          //占位符
          placeholder: '请输入' + item.controlName
        }
        //设置默认值end
        if (type == 'radio' || type == 'select') {
          for (let i = 1; i < 4; i++) {
            const sourceDatas = {
              label: '选项' + i,
              value: '选项' + i
            }
            controlSourceDatas.push(sourceDatas)
          }
          //默认值是第一个
          value.defaultValue = controlSourceDatas[0].value
        } else if (type == 'checkbox') {
          for (let i = 1; i < 4; i++) {
            const sourceDatas = {
              label: '选项' + i,
              value: false
            }
            controlSourceDatas.push(sourceDatas)
          }
        } else if (type == 'partitionLine') {
          value.defaultValue = 'left'
          value.fieldName = '分割线'
        } else if (type == 'table') {
          value.defaultValue = 'left'
          value.fieldName = '分割线'
        }

        _slef.right.createtOrUpdateFrow_TemplateInfos.push({
          blur: false,
          editFrow_TemplateInfo_ColumDto: value,
          controlSourceDatas: controlSourceDatas,
          childrenTable: []
        })
      }

      //拖拽成功 删除right 里面的按钮
      //因为左侧的是按钮
      el.remove()
    })
  },
  methods: {
    onBlur(e) {
      const index = e.getAttribute('myIndex')
      this.right.createtOrUpdateFrow_TemplateInfos.forEach(item => {
        item.blur = false
      })
      this.index = index
      this.right.createtOrUpdateFrow_TemplateInfos[index].blur = true
    },

    //新增项 类似checkbox select radio 这类组件
    addOptions(e) {
      let controlSourceDatas = {
        label: '选项' + (e.controlSourceDatas.length + 1),
        value:
          e.editFrow_TemplateInfo_ColumDto.controlType == 'checkbox'
            ? false
            : '选项' + (e.controlSourceDatas.length + 1)
      }
      e.controlSourceDatas.push(controlSourceDatas)
    },

    //删除项  类似checkbox select radio 这类组件
    removeOptions(e, index) {
      const value = e.controlSourceDatas[index].value
      e.controlSourceDatas.splice(index, 1)
      e.editFrow_TemplateInfo_ColumDto.defaultValue =
        e.editFrow_TemplateInfo_ColumDto.defaultValue == value
          ? e.controlSourceDatas[0].value
          : e.editFrow_TemplateInfo_ColumDto.defaultValue
    },

    //添加表头
    addTh(item) {
      this.addThDialog.childrenTable = JSON.parse(
        JSON.stringify(item.childrenTable)
      )
      this.addThDialog.visible = true
    },

    //关闭新增表头的弹窗
    close(value) {
      if (value) {
        this.right.createtOrUpdateFrow_TemplateInfos[
          this.index
        ].childrenTable = value
      }
      this.addThDialog.visible = false
    }
  }
}
</script>

<style scoped lang="scss">
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-color: #fff;
}

.gu-transit {
  opacity: 0.2;
  padding: 10px 0;
  border: 2px dashed;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}

.gu-mirror {
  padding: 10px 0;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px dashed;
  transition: opacity 0.4s ease-in-out;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.gu-hide {
  display: none !important;
}

.el-button + .myButton.el-button {
  margin-left: 0;
}

.myButton {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

.el-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#left,
#right {
  min-height: calc(100vh - 140px);
  overflow: auto;
}

#left::-webkit-scrollbar,
#right::-webkit-scrollbar {
  width: 5px;
  height: 9px;
  background-color: rgba(245, 245, 245, 0.47);
}

#left::-webkit-scrollbar-thumb,
#right::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
}

#left:hover::-webkit-scrollbar-thumb,
#right:hover::-webkit-scrollbar-thumb {
  background: #ccc;
}

.customer-form .customerPointerf5f5f5 {
  cursor: no-drop;
}

.customer-form .customerPointerf5f5f5 .mce-container {
  pointer-events: none;
}

.customer-form {
  width: 100%;
  overflow: hidden;
}

.customer-form .cobyTinymce {
  background-color: #f5f7fa;
  color: rgb(59, 81, 124);
  cursor: not-allowed;
  border: 1px solid #dfe4ed;
  outline: none;
  padding: 0 15px;
  border-radius: 4px;
}

.customer-form .el-form-item {
  float: left;
  display: flex;
}

.customer-form .el-form-item[mycol='1'] {
  width: 100%;
}

.customer-form .el-form-item[mycol='2'] {
  width: 50%;
}

.customer-form .el-form-item[mycol='3'] {
  width: 33.333%;
}

.customer-form .el-form-item[mycol='4'] {
  width: 25%;
}

.customer-form .el-form-item__label {
  display: table-cell;
  flex: 0 0 auto;
}

.customer-form .el-form-item__content,
.el-date-editor.el-input,
.el-input-number--medium,
.el-select,
.el-cascader {
  width: 100%;
  margin-left: 0 !important;
}

.customer-form .noLabel .el-form-item__label {
  display: none;
}

.customer-form .mce-panel {
  width: calc(100% - 2px) !important;
}
.blur {
  background: rgba(0, 0, 0, 0.2);
  padding: 3px;
}
</style>