<template>
  <el-form
    :model="newForm"
    autocomplete="off"
    :rules="newRules"
    ref="newForm"
    label-width="100px"
    class="demo-form"
  >
    <el-form-item label="类型" prop="approverRadioValue">
      <el-radio-group v-model="newForm.approverRadioValue">
        <el-radio
          :label="item.value"
          v-for="(item, index) in approverRadioValueSelect"
          :key="index"
        >{{item.label}}</el-radio>
      </el-radio-group>
    </el-form-item>
    <el-form-item label="添加审批人" prop="type">
      <el-select
        class="width100"
        multiple
        @focus="showSelectPopover()"
        v-model="newForm.auditorsList"
        popper-class="hidden-select___option"
        placeholder="请选择"
      >
        <el-option
          v-for="(box, index) in newForm.auditors"
          :key="index"
          :label="box.realName"
          :value="box.id"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="审核意见" prop="details">
      <el-input
        type="textarea"
        v-model="newForm.details"
        placeholder="请输入审核意见"
        autocomplete="off"
        :autosize="{ minRows: 2}"
      ></el-input>
    </el-form-item>

    <public-select
      ref="myPopover"
      v-if="detailDialog.visible"
      @close="selectClose"
      :title="detailDialog.title"
      :left.sync="detailDialog.left"
      :right.sync="detailDialog.right"
      :visible.sync="detailDialog.visible"
    ></public-select>
  </el-form>
</template>

<script>
/**
 * 发起流程和待办流程通用的左侧表单
 */
import service from '@/utils/request'
import { checkArray, checkArrayString } from '@/utils/index'
import publicSelect from '../publicSelect'
export default {
  name: 'publicLeftFrom',
  components: {
    publicSelect
  },
  data() {
    return {
      approverRadioValueSelect: this.$PublicEnumeration
        .approverRadioValueSelect,
      newForm: {
        approverRadioValue: 5,
        details: '',
        auditorsList: [],
        auditors: []
      },
      newRules: {
        details: [
          {
            required: true,
            message: '这是必填项',
            trigger: 'blur'
          }
        ]
      },

      // 选人的弹窗
      detailDialog: {
        visible: false,
        title: '',
        left: {
          listServe: '/api/services/app/BaseUser/CommonSelectUsersByPage',
          //checkbox 的判断
          checkboxAttribute: {
            //判断的属性
            type: 'id',

            //默认值   外部传默认值进来
            value: []
          },

          showHighlightCurrentRow: 'checkbox',
          column: [
            {
              label: '全选',
              type: 'selection'
            },
            {
              prop: 'userName',
              label: '账户名称'
            },
            {
              prop: 'realName',
              label: '姓名'
            }
          ]
        },
        right: {
          column: [
            {
              label: '全选',
              type: 'selection'
            },
            {
              prop: 'realName',
              label: '姓名'
            },
            {
              label: '顺序',
              width: '130px',
              render: (h, scope) => {
                return (
                  <el-input-number
                    style="width:100%"
                    class="noNumber"
                    value={scope.row.sunModel}
                    onChange={val => {
                      scope.row.sunModel = val
                    }}
                  ></el-input-number>
                )
              }
            }
          ],
          list: []
        }
      }
    }
  },
  watch: {},
  props: {},
  created() {},
  methods: {
    showSelectPopover() {
      this.detailDialog.title = this.$PublicEnumeration.approverRadioValueEnum[
        this.newForm.approverRadioValue.toString()
      ].text
      this.detailDialog.visible = true
    },
    //选择完毕的弹窗
    selectClose(value) {
      if (value instanceof Array) {
        this.newForm.auditorsList = []
        if (checkArray(value)) {
          value.forEach(item => {
            item.auditType = this.newForm.approverRadioValue
            this.newForm.auditorsList.push(item.id)
          })
        }
        this.newForm.auditors = value
      }
      this.detailDialog.visible = false
    }
  }
}
</script>

<style lang="scss" scoped>
.noNumber > span[role='button'] {
  display: none;
}
</style>